.ri-linkedin-box-fill {
  font-size: 20px;
}

#values {
  .dots {
    bottom: -175px;
    transform: rotate(90deg);
    width: 16%;
  }
}

#history {
  @include media-breakpoint-up(lg) {
    .bg-image {
      padding-top: 100%;
      margin-left: -50%;
      margin-bottom: 20px;
    }
  }
}