#capabilities {
  .card {
    min-height: 525px;
    border-radius: 0;
    box-shadow: none;
  }
  .owl-item {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba($black, 0.05);
  }
  .owl-stage {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .icon-wrapper {
    height: 75px;
    img {
      width: 55px;
    }
  }
  .title-wrapper {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .color-bullets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 175px;
  }
}