#nav-contact {
  a {
    opacity: 0.5;
    z-index: 10;
    @include transition(0.6s);
    &.active,
    &:hover {
      opacity: 1;
    }
  }
  
}

#contact-header {
  .dots {
    &.bottom-right {
      bottom: -80%;
      right: 6%;
      width: 15%;
      z-index: 2;
    }
  }
}

#place-a-study {
  position: relative;
  overflow: hidden;
  .dots { 
    bottom: -50px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .overlap-image {
    margin-top: -25%;
    margin-left: 6%;
    max-width: 45%;
  }
}



#find-a-clinic {
  overflow: hidden;
  .container {
    img {
      z-index: 10;
      position: relative;
    }
  }
  .dots { 
    bottom: -50px;
    width: 20%;
    left: 0;
  }
}

#become-a-site {
  overflow: hidden;
  position: relative;
  .contact-form {
    min-height: 1000px;
  }
  .overlap-image {
    margin-top: -65%;
    margin-left: 6%;
    max-width: 45%;
  }
  .dots {
    bottom: 182px;
    width: 29%;
    left: 30%;
  }
}

#join-the-team {
  overflow: hidden;
  .bg-white {
    position: relative;
    z-index: 10;
  }
  .dots {
    bottom: -50px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}