.location-cards {
  .card {
    border: 1px solid $light;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba($black, 0.1);
    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 20px 0;
    }
    .bg-image {
      width: 110px;
      height: 110px;
      padding-top: 0;
    }
    p {
      color: $primary-dark;
    }
    .btn {
      background-color: $cyan;
      border-radius: 5px;
      border-color: $cyan;
      box-shadow: 0;
      margin-bottom: 20px;
      &::before,
      &::after {
        display: none;
      }
    }
  }
}