.hero-home {
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .hero-content {
    color: $primary;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary;
    }
  }
  img {
    width: 300px;
  }
}

.homepage {}

.icons-row {
  img {
    width: 65px;
  }
}