---
layout: location
title: Specialties & Facilities
meta:
list_section:
  - title: Our Therapeutic Areas
    list_item:
      - title: <strong>Allergy / Immunology</strong>
      - title: Allergic Rhinitis
      - title: Seasonal Allergies
      - title: <strong>Cardiology</strong>
      - title: Essential Hypertension
      - title: Atrial Fibrillation
      - title: Peripheral Artery Disease
      - title: Intermittent Claudication
      - title: <strong>Dermatology<strong>
      - title: Acne (adult and pediatric)
      - title: Actinic Keratoses
      - title: Atopic Dermatitis
      - title: Psoriasis
      - title: Rosacea
      - title: <strong>Endocrinology/ Metabolism</strong>
      - title: Diabetes Mellitus
      - title: Dyslipidemia
      - title: Dyslipidemia in NIDDM
      - title: Hormone Replacement Therapy
      - title: Obesity
      - title: Obesity in NIDDM
      - title: <strong>Gastroenterology</strong>
      - title: Duodenal Ulcer & Gastric Ulcer
      - title: Erosive Esophagitis
      - title: Gastric Protection (NSAIDS)
      - title: Gastroesophageal Reflux Disease (GERD)
      - title: Heartburn
      - title: Irritable Bowel Syndrome (IBS)
      - title: Non-Ulcer Dyspepsia
      - title: <strong>Infectious Disease</strong>
      - title: Acute Bronchitis
      - title: Acute Sinusitis
      - title: Bioterrorism
      - title: Genital Herpes
      - title: Herpes Labialis
      - title: Herpes Zoster
      - title: Pandemic Influenza
      - title: Pneumonia
      - title: Seasonal Influenza
      - title: Skin Infection
      - title: Urinary Tract Infection (UTI)
      - title: <strong>Medical Devices</strong>
      - title: Device for Osteoarthritic patients
      - title: Glucose Monitoring
      - title: Osteoarthritis Exercise Device
      - title: Osteoarthritis Injectable
      - title: <strong>Men’s Health</strong>
      - title: Benign Prostatic Hyperplasia (BPH)
      - title: Benign Prostatic Obstruction (BPO)
      - title: Erectile Dysfunction
      - title: Low Testosterone
      - title: <strong>Nephrology</strong>
      - title: <strong>Neurology</strong>
      - title: Diabetic Peripheral Neuropathy
      - title: Migraines
      - title: Post Herpetic Neuralgia
      - title: <strong>Pain</strong>
      - title: Acute Low Back Pain
      - title: Chronic Back Pain
      - title: Chronic Pain Syndromes
      - title: Neuropathy
      - title: Shoulder Pain
      - title: <strong>Psychiatry</strong>
      - title: Smoking Cessation
      - title: <strong>Respiratory</strong>
      - title: Acute Bronchitis
      - title: Asthma
      - title: Community-Acquired Pneumonia
      - title: COPD
      - title: <strong>Rheumatology / Musculoskeletal</strong>
      - title: Acute Sprain
      - title: Acute Tendonitis/ Bursitis
      - title: Fibromyalgia
      - title: Gout
      - title: Osteoarthritis
      - title: Osteoporosis
      - title: Sciatica
      - title: <strong>Urology</strong>
      - title: Overactive Bladder (OAB)
      - title: Nocturia
      - title: Urge Incontinence
      - title: Urinary frequency
      - title: <strong>Vaccine</strong>
      - title: COVID-19
      - title: Influenza
      - title: Meningitis
      - title: Pneumonia
      - title: <strong>Women’s Health</strong>
      - title: Contraception
      - title: Female Sexual Arousal Disorder
      - title: Human Papilloma Virus *(HPV)
      - title: Hot Flashes
      - title: Hypoactive Sexual Desire Disorder
      - title: Hormone Replacement Therapy
      - title: Insomnia/Menopause Symptoms
      - title: Irritable Bowel Syndrome in Women
      - title: Premenstrual dysphoric disorder (PMDD)
      - title: Premenstrual syndrome (PMS)
facility_images:
  - /uploads/locations/austin/Mask-Group-92.jpg
  - /uploads/locations/austin/Mask-Group-93.jpg
  - /uploads/locations/austin/Mask-Group-94.jpg
  - /uploads/locations/austin/Mask-Group-95.jpg
_assets:
  - image: /uploads/locations/austin/Mask-Group-86.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-no-overlay.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="text-center text-secondary editable animate fade-up">
          Proven Experience in Multiple Therapeutic Areas
        </h1>
        <div class="editable text-center animate fade-up">
          <p>Velocity research sites and physician investigators have successfully completed studies in most major therapeutic areas. Our investigators&rsquo; expertise covers a wide range of subspecialties and understands local differences in patient populations. Broad categories of therapeutic area expertise are shown below with additional information on areas where we have extensive experience. The Velocity team is eager to provide more detail on our experience for your specific study.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% for list_section in page.list_section %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h3 class="animate fade-up">{{ list_section.title }}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          {% assign num_columns = list_section.list_item | size | divided_by: 5  %}
          <ul class="column-list column-{{ num_columns }} animate fade-up">
            {% for list_item in list_section.list_item %}
              <li>{{ list_item.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
<div class="bg-image aspect-3x1 animate blur" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[0].image }}" data-cms-editor-link="cloudcannon:#_assets[0]" data-cms-editor-link-style="modal">
</div>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center editable animate fade-up">
          <h2>Our Facility is Designed for Clinical Trials</h2>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      {% for image in page.facility_images %}
        <div class="col-lg-3 animate fade-up">
          <div class="bg-image aspect-5x4 rounded mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ image }}" style="background-image: url({{ image }})">
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="editable animate fade-up">
          <p>The Chula Vista facility is designed for the ease and comfort of study participants and to allow optimal efficiencies in performing clinical trials.&nbsp; All Velocity sites include:</p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-8 mx-lg-auto">
        <div class="editable animate fade-up">
          <ul>
            <li>Private Examination/Consultation Rooms</li>
            <li>Comfortable Patient Reception Areas</li>
            <li>Facilities for Extended-Stay Pharmacokinetic Studies</li>
            <li>Secure Monitoring Rooms or Workstations with Phone &amp; High-Speed Internet Access</li>
            <li>Multiple Individual &amp; Secure Workstations for Research Staff</li>
            <li>Regulatory Document Processing Area</li>
            <li>Electronic Data Capture (EDC) Capabilities</li>
            <li>Secure Record Storage</li>
            <li>Clinical Laboratory with CLIA waiver</li>
            <li>Ambient and Refrigerated Centrifuge</li>
            <li>Secured &amp; Temperature Controlled Investigational Product Storage with Pharmaceutical Refrigerator &amp; Freezer</li>
            <li>Freezers equipped for laboratory specimens at -20 &amp; -70 degrees Celsius</li>
            <li>Back Up Generator/ Power Source in the Event of Site Power Loss</li>
            <li>Standard Medical equipment, including ECG and Holter Machines, digital and analog scales and&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>