<section class="hero hero-height-auto bg-image" style="background-image: url({{ page.hero.image }})">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-lg-auto">
        <div class="text-center text-white">
          {% if page.hero.logo_image %}
            <img src="{{ page.hero.logo_image }}" class="img-fluid mb-3" alt="Velocity Clinical Research Logo">
          {% endif %}
          {{ page.hero.title_html }}
        </div>
      </div>
    </div>
  </div>  
</section>