<div class="mosaic-images-overlap mb-5 mb-lg-0">
  <div class="image-wrapper">
    <div class="bg-image rounded aspect-5x4 rellax"
      data-lazy-type="bg-image"
      data-lazy-src="{{ page._assets[0].image }}"
      data-cms-editor-link="cloudcannon:#_assets[0].image"
      data-cms-editor-link-style="modal"
      data-rellax-speed="0.5"
      ></div>
  </div>
  <div class="image-wrapper">
    <div class="bg-image rounded aspect-5x4 rellax"
      data-lazy-type="bg-image"
      data-lazy-src="{{ page._assets[1].image }}"
      data-cms-editor-link="cloudcannon:#_assets[1].image"
      data-cms-editor-link-style="modal"
      data-rellax-speed="-0.75"
      ></div>
  </div>
  <div class="image-wrapper">
    <div
      class="bg-image rounded aspect-5x4 rellax"
      data-lazy-type="bg-image"
      data-lazy-src="{{ page._assets[2].image }}"
      data-cms-editor-link="cloudcannon:#_assets[2].image"
      data-cms-editor-link-style="modal"
      data-rellax-speed="-1"
      ></div>
  </div>
  <div class="image-wrapper">
    <div
      class="bg-image rounded aspect-5x4 rellax"
      data-lazy-type="bg-image"
      data-lazy-src="{{ page._assets[3].image }}"
      data-cms-editor-link="cloudcannon:#_assets[3].image"
      data-cms-editor-link-style="modal"
      data-rellax-speed="1"
      ></div>
  </div>
  <div class="image-wrapper">
    <div
      class="bg-image rounded aspect-5x4 rellax"
      data-lazy-type="bg-image"
      data-lazy-src="{{ page._assets[4].image }}"
      data-cms-editor-link="cloudcannon:#_assets[4].image"
      data-cms-editor-link-style="modal"
      data-rellax-speed="1"
      ></div>
  </div>
</div>