<div class="mosaic-images-wide mt-4 mt-lg-0">
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[5] }})" data-cms-editor-link="cloudcannon:#_assets[5]" data-cms-editor-link-style="modal"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x7" style="background-image: url({{ page._assets[6] }})" data-cms-editor-link="cloudcannon:#_assets[6]" data-cms-editor-link-style="modal"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-4x3" style="background-image: url({{ page._assets[7] }})" data-cms-editor-link="cloudcannon:#_assets[7]" data-cms-editor-link-style="modal"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x7" style="background-image: url({{ page._assets[8] }})" data-cms-editor-link="cloudcannon:#_assets[8]" data-cms-editor-link-style="modal"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-4x3" style="background-image: url({{ page._assets[9] }})" data-cms-editor-link="cloudcannon:#_assets[9]" data-cms-editor-link-style="modal"></div>
  </div>
</div>