{% assign hero = page.hero.first %}
<section class="animate blur" style="background-image: url({{ hero.image }})">
  {% if hero.color_overlay == true %}<div class="bg-overlay overlay-primary"></div>{% endif %}
  {% if hero.title or hero.subtitle %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-lg-auto">
          <div class="text-center text-white">
            {% if hero.subtitle %}
              <p class="subtitle animate fade-up">{{ hero.subtitle }}</p>
            {% endif %}
            <h1 class="mb-0 animate fade-up text-white">{{ hero.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</section>