<div class="hero hero-height-auto bg-image animate blur" style="background-image: url({{ page._hero_image }})"  data-cms-editor-link="cloudcannon:#_hero_image" data-cms-editor-link-style="modal">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          {% if location.white_logo_image %}
            <img src="{{ location.white_logo_image }}" class="hero-logo img-fluid" alt="{{ location.title}} Logo">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>