<div class="responsive-card-deck location-cards cards-lg-4">
  {% assign locations = site.locations | where: 'active', true %}
  {% for location in locations %}
    <div class="card card-white mb-4 animate fade-up">
      <div class="image-wrapper">
        <div class="bg-image aspect-1x1 rounded-circle"
          style="background-image: url({{ location.featured_image }})"></div>
      </div>
      
      <div class="card-body text-center">
        <p class="mb-0">{{ location.label }}</p>
        <p class="mb-0"><strong>{{ location.title }}</strong></p>
      </div>
      <div class="card-footer text-center border-0 bg-transparent">
        <a href="/locations/{{ location.slug }}" class="btn btn-primary">Visit Website <img src="/img/button-arrow.svg" alt="Arrow icon"></a>
      </div>
    </div>
  {% endfor %}
</div>