<div class="row no-gutters align-items-center bg-white mx-2">
  <div class="col-lg-3">
    <div class="p-5">
      <div class="bg-image rounded-circle aspect-1x1" style="background-image: url({{ site.placeholder_image }})"></div>
    </div>
  </div>
  <div class="col-lg-3">
    <h6>Location</h6>
    <p>Address Lorem ipsum dolor sit amet.</p>
    <p><a href="tel:">(555)-555-5555</a></p>
    <p><a href="mailto:">info@velocityclinical.com</a></p>
  </div>
  <div class="col-lg-6">
    <div class="google-map bg-image aspect-2x1" style="background-image: url({{ site.placeholder_image }})"></div>
  </div>
</div>