<div class="mosaic-images-overlap mb-3 mb-lg-0 animate blur">
  <div class="image-wrapper">
    <div
      class="bg-image aspect-5x4 rounded rellax"
      style="background-image: url({{ page._assets[0] }})"
      data-cms-editor-link="cloudcannon:#_assets[0]"
      data-cms-editor-link-style="modal"
      data-rellax-speed="0.5"
      ></div>
  </div>
  <div class="image-wrapper">
    <div
      class="bg-image aspect-5x4 rounded rellax"
      style="background-image: url({{ page._assets[1] }})"
      data-cms-editor-link="cloudcannon:#_assets[1]"
      data-cms-editor-link-style="modal"
      data-rellax-speed="-0.75"
      ></div>
  </div>
  <div class="image-wrapper">
    <div
      class="bg-image aspect-5x4 rounded rellax"
      style="background-image: url({{ page._assets[2] }})"
      data-cms-editor-link="cloudcannon:#_assets[2]"
      data-cms-editor-link-style="modal"
      data-rellax-speed="-1"
      ></div>
  </div>
  <div class="image-wrapper">
    <div
      class="bg-image aspect-5x4 rounded rellax"
      style="background-image: url({{ page._assets[3] }})"
      data-cms-editor-link="cloudcannon:#_assets[3]"
      data-cms-editor-link-style="modal"
      data-rellax-speed="1"
      ></div>
  </div>
  <div class="image-wrapper">
    <div
      class="bg-image aspect-5x4 rounded rellax"
      style="background-image: url({{ page._assets[4] }})"
      data-cms-editor-link="cloudcannon:#_assets[4]"
      data-cms-editor-link-style="modal"
      data-rellax-speed="1"
      ></div>
  </div>
</div>