<div class="mosaic-images-overlap mb-3 mb-lg-0">
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[0] }})" data-cms-editor-link="cloudcannon:#_assets[0]" data-cms-editor-link-style="modal"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[1] }})" data-cms-editor-link="cloudcannon:#_assets[1]" data-cms-editor-link-style="modal"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[2] }})" data-cms-editor-link="cloudcannon:#_assets[2]" data-cms-editor-link-style="modal"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[3] }})" data-cms-editor-link="cloudcannon:#_assets[3]" data-cms-editor-link-style="modal"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[4] }})" data-cms-editor-link="cloudcannon:#_assets[4]" data-cms-editor-link-style="modal"></div>
  </div>
</div>