{% for team in page.location_team  %}
<div class="row align-items-center mb-5">
  
  <div class="col-6 mx-auto col-lg-3">
    <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0 animate blur" style="background-image: url({{ team.image | default: site.placeholder_image }})"></div>
  </div>
  <div class="col-lg-8 ml-lg-auto animate fade-up">
    <h4 class="mb-0 font-weight-bold">{{ team.name }}</h4>
    {% if team.role %}
      <h5 class="text-dark">{{ team.role }}</h5>
    {% endif %}
    <div class="read-more-wrapper">
      <div class="expand-text">
        {{ team.bio_html }}
      </div>
      
      <p class="read-more text-secondary">Read More</p>
    </div>
  </div>
</div>
{% endfor %}