{% for team in page.location_team  %}
<div class="row mb-5">
  
  <div class="col-6 mx-auto col-lg-3">
    <div
      class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0 animate blur"
      data-lazy-type="bg-image"
      data-lazy-src="{{ team.image | default: site.placeholder_team_image }}"
      ></div>
  </div>
  <div class="col-lg-8 ml-lg-auto mt-4 animate fade-up">
    <h4 class="mb-0 font-weight-bold">{{ team.name }}</h4>
    {% if team.role %}
      <h5 class="text-dark">{{ team.role }}</h5>
    {% endif %}
    <div class="read-more-wrapper">
      <div class="expand-text">
        {{ team.bio_html }}
      </div>
      
      <p class="read-more text-secondary">Read <span class="text-more">More</span> <span class="text-less">Less</span> </p>
    </div>
  </div>
</div>
{% endfor %}