<meta http-equiv="refresh" content="5; URL=https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=c3050172-4e08-4e37-bbda-693bb61d7bb8&ccId=19000101_000001&lang=en_US" />






<section id="contact-header" class="pt-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="subtitle mb-5">Contact Us</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav id="nav-contact">
          <div class="nav row">
            <a class="col-lg-3 mb-2 {% if page.url == '/contact/' %}active{% endif %}" href="/contact">
              <div class="bg-white px-4 py-4 shadow rounded text-center h-100">
                <h4 class="mb-2 editable">Sponsors &amp; CROs</h4>
                <p class="text-dark mb-0 editable">Interested in placing your study at Velocity Clinical Research sites?</p>
              </div>
            </a>
            <a class="col-lg-3 mb-2 {% if page.url == '/contact/find-a-clinic/' %}active{% endif %}" href="/contact/find-a-clinic">
              <div class="bg-white px-4 py-4 shadow rounded text-center h-100">
                <h4 class="mb-2 editable">Find a Clinic Near You</h4>
                <p class="text-dark mb-0 editable ">Want to participate in a clinical study?</p>
              </div>
            </a>
            <a class="col-lg-3 mb-2 {% if page.url == '/contact/become-a-velocity-site/' %}active{% endif %}" href="/contact/become-a-velocity-site">
              <div class="bg-white px-4 py-4 shadow rounded text-center h-100">
                <h4 class="mb-2">Become a Velocity Site</h4>
                <p class="text-dark mb-0 editable">Inquire to begin the Clinic Acquisition Process</p>
              </div>
            </a>
            <a class="col-lg-3 mb-2 {% if page.url == '/contact/join-the-velocity-team/' %}active{% endif %}" href="/contact/join-the-velocity-team">
              <div class="bg-white px-4 py-4 shadow rounded text-center h-100">
                <h4 class="mb-2 editable">Join the Velocity Team</h4>
                <p class="text-dark mb-0 editable">Explore career opportunities at Velocity clinics</p>
              </div>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-right" alt="Dots image">
</section>