<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="subtitle mb-5">Contact Us</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav>
          <div class="nav row">
            <a class="col-lg-3" href="/contact">
              <div class="bg-white px-4 py-3 shadow rounded text-center h-100">
                <h4 class="mb-2 editable">Sponsors &amp; CROs</h4>
                <p class="text-dark editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              </div>
            </a>
            <a class="col-lg-3" href="/contact/find-a-clinic">
              <div class="bg-white px-4 py-3 shadow rounded text-center h-100">
                <h4 class="mb-2 editable">Find a Clinic Near You</h4>
                <p class="text-dark editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              </div>
            </a>
            <a class="col-lg-3" href="/contact/become-a-velocity-site">
              <div class="bg-white px-4 py-3 shadow rounded text-center h-100">
                <h4 class="mb-2">Become a Velocity Site</h4>
                <p class="text-dark editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              </div>
            </a>
            <a class="col-lg-3" href="/contact/join-the-velocity-team">
              <div class="bg-white px-4 py-3 shadow rounded text-center h-100">
                <h4 class="mb-2 editable">Join the Velocity Team</h4>
                <p class="text-dark editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
              </div>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>