<footer class="bg-primary">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <img src="/assets/img/logo-white.svg" class="footer-logo img-fluid d-block mx-auto mt-3"
              alt="Velocity Clinical Research Logo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="content">
            <hr class="my-4 border-white">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <a href="https://www.facebook.com/velocityclinical/" target="_blank" class="social-link">
            <img src="/assets/img/facebook.svg" class="img-fluid" alt="Facebook icon">
            <a>
        </div>
        <div class="col-auto">
          <a href="https://www.linkedin.com/company/velocity-clinical-research/" target="_blank" class="social-link">
            <img src="/assets/img/linkedin.svg" class="img-fluid" alt="Linkedin icon">
            <a>
        </div>
        <div class="col-auto">
          <a href="https://www.instagram.com/velocityclinicalresearch/" target="_blank" class="social-link">
            <img src="/assets/img/instagram.svg" class="img-fluid" alt="Instagram icon">
            <a>
        </div>
        <div class="col-auto">
          <a href="https://twitter.com/velocitycr" target="_blank" class="social-link">
            <img src="/assets/img/twitter.svg" class="img-fluid" alt="Twitter icon">
            <a>
        </div>
      </div>
    </div>
  </section>
</footer>