<head>
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140308205-1"></script>
 <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140308205-1');
  </script>
  <meta name="google" content="notranslate" />
  <meta http-equiv="Content-Language" content="en_US" />
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include socialshare.html %}

  <!-- Fav and Touch Icons -->

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">

  <!-- Fonts -->
  <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/c3697da1-7601-4790-b075-3a9651323d8e.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

  <!-- Analytics -->
  {% include analytics.html %}
</head>
