<header id="page-header" class="text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <img src="/assets/img/logo-white.svg" class="img-fluid d-block mx-auto mb-5" alt="Velocity Clinical Research Logo">
          <h1 class="text-center text-white">Trusted research, valued patients.</h1>
          <p class="lead">Velocity Clinical Research is 100% committed to the successful delivery of clinical
            studies&mdash;helping our clients maintain the highest standards of care while bringing new medications
            directly to the patients who need them, as quickly and efficiently as possible.</p>
        </div>
      </div>
    </div>
  </div>
</header>