<header id="page-header" class="bg-header text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <div class="content">
          <img src="/img/logo-white.svg" class="img-fluid d-block mx-auto mt-3 pb-4" alt="Velocity Clinical Research Logo" />
          {% if page.url == '/' %}
          <h1 class="text-center text-white mt-5 editable">Trusted research, valued patients.</h1>
          <p class="lead editable">
            <br />Velocity Clinical Research is a site organization with multiple locations. We control our own data, patient care, and outcomes, from study feasibility to database lock.<br /><br />We have one goal: to deliver high-quality clinical trial data from as many patients as possible, as quickly as possible &ndash; providing exemplary patient care at every step.<br />&nbsp;
          </p>
          {% endif %}  
        </div>
      </div>
    </div>
  </div>
</header>