<div class="hero hero-home aspect-3x1 bg-image" style="background-image: url({{ site.placeholder_image }})">
  <div class="hero-overlay">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center text-white">
              <img src="/img/velocity.png" class="img-fluid" alt="Velocity Clinical Research Logo">
              <h1>High-quality clinical trials with exemplary patient care</h1>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>