{% assign hero = page.hero.first %}
<div class="hero aspect-3x1 bg-image" style="background-image: url({{ hero.image }})">
  <div class="hero-overlay">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center text-white">
              {% if hero.subtitle %}
                <h2 class="subtitle text-secondary"></h2>
              {% endif %}
              <h1>{{ hero.title }}</h1>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>