{% assign meta = page.meta | first %}
<meta property="og:title" content="{% if meta.title %}{{ meta.title }}{% else %}{{ page.title | default: site.title }}{% endif %}" />
<meta property="og:description" content="{{ meta.description | default: site.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:image" content="{{ meta.image | default: site.socialshare.featured_image | absolute_url }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

 <meta name="twitter:card" content="summary_large_image" />
 <meta name="twitter:site" content="{{ site.socialshare.twitter.handle }}" />
 <meta name="twitter:creator" content="{{ site.socialshare.twitter.handle }}" />
 <meta name="twitter:title" content="{% if meta.title %}{{ meta.title }}{% else %}{{ page.title | default: site.title }}{% endif %}" />
 <meta name="twitter:description" content="{% if meta.title %}{{ meta.title }}{% else %}{{ page.title | default: site.title }}{% endif %}" />
 <meta name="twitter:text:description" content="{{ page.description | default: site.description }}" />
 <meta name="twitter:image" content="{% if meta.image %}{{ meta.image | absolute_url }}{% else %}{{ site.socialshare.twitter.image | absolute_url }}{% endif %}" />
 <meta name="twitter:image:alt" content="{% if meta.title %}{{ meta.title }}{% else %}{{ page.title | default: site.title }}{% endif %}" />