<div class="owl-carousel">
  {% for capability in page.capabilities %}
    <div class="card px-2 py-4 h-100">
      <div class="icon-wrapper">

        <img src="{{ capability.icon_image}}"  alt="">
      </div>
      <div class="card-body">
        <div class="title-wrapper">
          <h4 class="text-center text-dark card-title">{{ capability.title }}</h4>
        </div>
        <ul class="color-bullets">
          {% for item in capability.list_item %}
            <li>{{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>