
<div id="us-map" style="height: 600px;"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">'
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      
      <div class="modal-body p-5">
        <div class="row align-items-center">
          <div class="col-lg-4 mx-lg-auto text-center">
            <div class="bg-image aspect-1x1 rounded-circle mx-auto" style="background-image: url(/img/locations/Austin.png)"></div>
          </div>
          <div class="col-lg-5 mx-lg-auto">
            <h6 class="font-weight-bolder">Location</h6>
            <p>Address Lorem ipsum dolor sit amet.</p>
            <p><a href="tel:">(555)-555-5555</a></p>
            <p><a href="mailto:">info@velocityclinical.com</a></p>
            <a href="#" class="btn btn-secondary">Visit Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>