
<div id="us-map"></div>

<!-- Modal -->
<div class="modal fade" id="map-modal" tabindex="-1" aria-labelledby="map-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">'
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      
      <div class="modal-body p-5">
        <div class="row align-items-center">
          <div class="col-6 col-lg-4 mx-auto text-center">
            <div class="bg-image location-image aspect-1x1 rounded-circle mx-auto mb-3 mb-lg-0" style="background-image: url()"></div>
          </div>
          <div class="col-lg-5 mx-lg-auto">
            <h6 class="font-weight-bold mb-0">Velocity Clinical Research, <span class="location-title"></span></h6>
            <h6 class="font-weight-bold"><span class="location-name"></span>, <span class="location-state"></span></h6>
            <p class="location-address"></p>
            <p class="mb-0"><a href="tel:" class="location-phone"></a></p>
            <p><a href="mailto:" class="location-email"></a></p>
            <a href="" class="btn btn-secondary location-link">Visit Website</a>
            <!-- <h6 class="font-weight-bold mb-0">Velocity Clinical Research, <span class="location-title">Austin</span></h6>
            <h6 class="font-weight-bold"><span class="location-name">Cedar Park</span>, <span class="location-state">TX</span></h6>
            <p class="location-address">1900 Cypress Creek Suite 200 Cedar Park, TX 78613</p>
            <p class="mb-0"><a href="tel:" class="location-phone">(737) 204-1904</a></p>
            <p><a href="mailto:" class="location-email">info@velocityclinical.com</a></p>
            <a href="/locations/austin" class="btn btn-secondary location-link">Visit Website</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>