<div class="mosaic-images">
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4" style="background-image: url(https://picsum.photos/seed/picsum/500)"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4" style="background-image: url(https://picsum.photos/seed/picsum/500)"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4 " style="background-image: url(https://picsum.photos/seed/picsum/500)"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4 " style="background-image: url(https://picsum.photos/seed/picsum/500)"></div>
  </div>
  <div class="image-wrapper rounded">
    <div class="bg-image aspect-5x4 " style="background-image: url(https://picsum.photos/seed/picsum/500)"></div>
  </div>
</div>