---
layout: location
---
{% include locations/hero-location.html %}

<section class="bg-light">
  <div class="container">
    {% include locations/location-summary.html %}
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>Join the Velocity Team</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores animi obcaecati rerum excepturi. Vero sed est unde in totam inventore cupiditate similique facilis, quis, sit sequi harum necessitatibus debitis laboriosam.</p>
      </div>
      <div class="col-lg-8">
        <div class="bg-white p-5">
          form section
        </div>
      </div>
    </div>
  </div>
</section>