---
layout: location
title: Velocity Banning
meta:
location_team:
  - name: 'Judith Kirstein, MD'
    role: Principal Investigator
    image: /uploads/kirstein.jpg
    bio_html: >-
      <p>Judith Kirstein, MD, CPI began her research career with Velocity
      Clinical &ndash; Banning (formerly Advanced Clinical Research) in 1993. In
      1984 she founded Jordan Valley Family Health, one of the largest Family
      Practices in the Salt Lake Valley. She is a member of Alpha Omega Alpha
      Medical Honor Society, a Fellow of the American Academy of Family
      Medicine, and a member of the Utah Medical Association. Dr. Kirstein is
      board certified in family medicine, with a Masters degree in nursing, as
      well as a Doctor of Medicine degree from UCLA.</p>
  - name: Jared Bradshaw
    role: Site Manager
    image: /uploads/jared.jpg
    bio_html: >-
      <p>Jared Bradshaw, BS, CCRC has been working in the clinical research
      industry since 2014 and has been part of the Advanced Clinical
      Research/Velocity Clinical Research family since 2015. Since 2018, he has
      been working as Site Manager to oversee the day to day operations for the
      Banning office. Jared attended Brigham Young University for his
      pre-medicine undergraduate studies. His desire to help patients improve
      their lives in addition to being able to be on the frontlines of
      scientific advancement have led Jared to find his passion in clinical
      research.</p><p>During his four years of undergraduate studies, while not
      in school, you would have found Jared in Denali National Park, AK sharing
      the great Alaskan wilderness with cruise guests from all around the world.
      Jared&rsquo;s current passions outside of work include spending time with
      his wife, two children and one foster child, skiing the Wasatch mountains,
      boating at Lake Powell and marathon training.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up">
            <strong>Help Make a Difference</strong>
          </h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Banning
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Banning, formerly Advanced Clinical Research &ndash; Banning, is part of the Velocity Clinical Research organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">
          Our Mission
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">
          Our Story
        </h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 2016
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Banning was founded in 2016 as a part of Advanced Clinical Research's strategic expansion efforts. It was started with a core team of experienced research staff from the Salt Lake City location and has expanded to form a robust research team. Advanced Clinical Research was founded in 1984 as the first community based clinical research center in Idaho and Utah. Velocity Banning provides multi-therapeutic expertise in a number of internal medicine indications with a focus on Family Medicine. In addition, this site has experience in conducting vaccine trials. Banning has access to diverse patient demographics, including a large Latinx population as well as a local Pacific Islander community.</p>
          <p>Located approximately 30 miles east of Palm Springs, CA, Velocity Banning is situated just north of I-10 and adjacent to a local hospital and an Urgent Care Center. Parking for study participants and sponsors is on site.</p>
          <p>The Velocity Banning team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. By becoming part of the Velocity Clinical Research organization in 2019, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Our Experienced Research Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Banning team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>