---
layout: location
title: Velocity Cincinnati
meta:
location_team:
  - name: 'Gregory Gottschlich, MD'
    role: 'Medical Director, Principal Investigator'
    image: /uploads/g-gottschlich-cropped-for-web-site-1.jpg
    bio_html: >-
      <p>Gregory M.Gottschlich, MD, FAAAI, CPI is Board Certified in Internal
      Medicine with a sub-specialty in Allergy, Asthma &amp; Immunology. He is a
      Certified Physician Investigator and has been conducting clinical trials
      since 1988. He received his medical degree from the College of Medicine at
      the Ohio State University and served as the president of the Cincinnati
      Allergy Society and the Ohio Society of Allergy, Asthma and Immunology.
      Dr. Gottschlich is a fellow of the American College of Allergy, Asthma and
      Immunology and the American Academy of Allergy, Asthma and Immunology. As
      a certified clinical researcher and medical director of New Horizons
      Clinical Research Center (now Velocity Clinical &ndash; Cincinnati), Dr.
      Gottschlich has conducted more than 500 clinical trials.</p>
  - name: 'Melissa Gottschlich, PA-C'
    role: Site Director
    image: /uploads/missy.jpg
    bio_html: >-
      <p>Missy Gottschlich, PA-C, joined Velocity Clinical - Cincinnati in 2016
      as a Physician Assistant. Her educational foundation in science and
      wellness drives her passion for advancing medicine through clinical
      studies. Missy celebrates patient participation in trials as she
      recognizes our medical advances would be unachievable without volunteer
      contributions. While her Velocity career started in the Sub-Investigator
      role, she quickly increased responsibility as Site Director in January
      2019. She excels at strategically executing process and quality
      improvement and ensuring continued staff and company excellence and
      growth. She cares deeply about her staffs&rsquo; personal and professional
      development and is a strong supporter of the philosophy &ldquo;work hard,
      play hard&rdquo;- being a recurrent initiator of staff happy hours, team
      sports (sand volleyball, soccer), and other various events such as bowling
      and kayaking.</p><p>Missy earned her dual degree in Dietetics/Nutrition
      and Fitness from the University of Dayton followed by attaining her Master
      of Physician Assistant Studies at Kettering College, where she served as
      President of her class. On the weekends, she continues to put her medical
      training to good use as the Associate Director of University of
      Cincinnati&rsquo;s Community Primary Care Champion Fellowship for
      physicians and physician assistants, volunteering at the Good Sam Free
      Health Clinic and serving on the Red Cross Disaster Action Team.</p><p>An
      adventure enthusiast throughout her life, Missy continues to push
      life&rsquo;s boundaries learning new skills: surfing, mountain biking,
      skiing double black diamonds and even conversing in French. Her joy for
      life is contagious, and it is only fitting that her favorite saying is
      &ldquo;Que la f&ecirc;te commence!&rdquo; (Let&rsquo;s get this party
      started!).</p>
_assets:
  - image: /uploads/candid-dad-and-steven-2019.jpeg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: https://via.placeholder.com/1000x1000/333333/000000?text=Placeholder
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up">
            <strong>Help Make a Difference</strong>
          </h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Cincinnati
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Cincinnati, formerly New Horizons Clinical Research, is part of the Velocity Clinical Research organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">
          Our Mission
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}"
          data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">
          Our Story
        </h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 1988
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Cincinnati was founded by Dr. Gregory Gottschlich in 1988 as New Horizons Clinical Research, an independent dedicated research center. Dr. Gottschlich, who is Board Certified in Internal Medicine, established the research center to handle the growing need for clinical trials in his specialty. Velocity Cincinnati offers a wide range of expertise in Respiratory, Immunology, Internal medicine, Rheumatology and Orthopedic indications, including allergy, asthma, COPD, hypertension, CAD, hyperlipidemia, diabetes, osteoarthritis, musculoskeletal disorders, gout, and chronic pain. In addition, this site has experience conducting studies in vaccines and rare diseases.</p>
          <p>Velocity Cincinnati has a large and diverse study participant population, including pediatric and geriatric patients from a range of ethnic backgrounds. An expansive patient database enhances recruitment efforts.</p>
          <p>Located in Blue Ash, a suburb of Cincinnati, Ohio, just 15 minutes north of downtown Cincinnati and only 30 minutes from the Northern Kentucky/Cincinnati International Airport, this site has easy access to main highways. The building is just across the street from a large park and less than two miles from two area hospitals. Ample free parking is on site. With more than 7,200 square-feet of dedicated research space, they can efficiently and effectively conduct multiple concurrent studies.</p>
          <p>The Velocity Cincinnati team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. Dr. Gottschlich was instrumental in recognizing the need to join together geographically dispersed research sites and took leadership in achieving that goal. By becoming part of the Velocity Clinical Research organization in 2017, Cincinnati added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Our Experienced Research Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Cincinnati team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. The clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>