---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="content">
          <div class="bg-image aspect-1x1 rounded-circle" style="background-image: url({{ page.image }})"></div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="content">
          {{ page.content }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="content">
          <a href="/#directors">Back to Team</a>
        </div>
      </div>
    </div>
  </div>
</section>