---
layout: location
---
{% include hero.html %}

<section class="bg-light">
  <div class="container">
    <div class="row overlap-top">
      <div class="col-12">
        <div class="shadow p-5 bg-white rounded position-relative">
          <div class="row align-items-center">
            <div class="col-lg-3">
              <div class="bg-image aspect-1x1 rounded-circle" style="background-image: url({{ site.placeholder_image }})"></div>
            </div>
            <div class="col-lg-5">
              <h4 class="font-weight-bolder editable mb-0">Velocity City Name</h4>
              <h4 class="font-weight-bolder editable">City State</h4>
              <div class="editable">
                <p>1900 Cypress Creek Suite 200 Cedar Park, TX 78613</p>
              </div>
              <div class="editable">
                <p><a href="tel:555-555-555">(555) 555-5555</a></p>
                <p><a href="mailto:"></a>info@velocityclinical.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="google-map bg-dark"></div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  
  <div class="container position-relative">
    <img src="/img/dots2.png" class="dots top-right" alt="Dots image">
    <div class="row">
      <div class="col-lg-4">
        <h5 class="text-green font-weight-bolder editable">Interested in Participating in a Clinical Trial?</h5>
        <p>Thank you for your interest in clinical research and in finding out more about participating in one of our clinical trials. Please fill out the information below and a member of our team will contact you.</p>
      </div>
      <div class="col-lg-8">
        <div class="bg-white p-5">
          form section
        </div>
      </div>
    </div>
  </div>
</section>