---
layout: default
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img src="{{ site.placeholder_image }}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8">
        <h3 class="subtitle">Specialties</h3>
        <h2>Specialty Name</h2>
        <p class="lead">Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui alias consequatur, fugiat placeat perferendis illum minus deserunt modi aperiam ipsum voluptate nihil, autem similique, quis impedit reprehenderit porro eaque! Iste.</p>
      </div>
    </div>
  </div>
</section>
{% for stat_section in page.statistic_sections %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2>{{ stat_section.title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for stat in stat_section.statistics %}
        <div class="col-lg-4 mb-5">
          <div class="text-center">
            <p class="h2">{{ stat.number }}</p>
            <p>{{ stat.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
{% for list_section in page.list_sections %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center editable">
          <h3>{{ list_section.title }}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <ul class="column-list column-5">
            {% for list_item in list_section.list_items %}
              <li>{{ list_item.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center editable">
          <h2>Capabilities</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3">
          {% for capability in page.capabilities %}
            <div class="card">
              <div class="card-body">
                <h4>{{ capability.title }}</h4>
                <ul>
                  {% for item in capability.list_items %}
                    <li>{{ item.title }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>