---
layout: default
---
<section>
  <div class="container">
    <div class="row align-items-center">
      {% if page.image %}
      <div class="col-lg-4">
        <div class="bg-image aspect-1x1 rounded-circle" style="background-image: url({{ page.image }})"></div>
      </div>
      {% endif %}
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-0">{{ page.name }}</h1>
        {% if page.role %}
          <h4 class="mb-0">{{ page.role }}</h4>
        {% else %}
          <h4 class="mb-0">{{ page.company }}</h4>
        {% endif %}
        {% if page.linkedin_url %}
          <p class="mb-0"><a href="{{ page.linkedin_url }}" class="text-mid"><i class="ri-linkedin-box-fill"></i></a></p>
        {% endif %}
        <div class="mt-3">
          {{ page.content }}
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="text-center">
          <a href="/#team" class="mt-5">Back to Team</a>
        </div>
      </div>
    </div>
  </div>
</section>