---
layout: default
---
<header class="bg-header text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <div class="content">
          <img src="/assets/img/logo-white.svg" class="img-fluid d-block mx-auto mt-3 pb-5" alt="Velocity Clinical Research Logo">
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="row align-items-center">
      {% if page.image %}
      <div class="col-lg-4">
        <div class="content">
          <div class="bg-image aspect-1x1 rounded-circle" style="background-image: url({{ page.image }})"></div>
        </div>
      </div>
      {% endif %}
      <div class="col-lg-8 mx-auto">
        <div class="content">
          <h1>{{ page.name }}</h1>
          {{ page.content }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 ml-lg-auto">
        <div class="content">
          <a href="/#team" class="mt-5">Back to Team</a>
        </div>
      </div>
    </div>
  </div>
</section>