---
layout: location
title: Specialties & Facilities
meta:
list_section:
  - title: Our Therapeutic Areas
    list_item:
      - title: Allergy / Immunology
      - title: Cardiology
      - title: Dermatology
      - title: Endocrinology/ Metabolism
      - title: Gastroenterology
      - title: Infectious Disease
      - title: Medical Devices
      - title: Men’s Health
      - title: Nephrology
      - title: Neurology
      - title: Psychiatry
      - title: Pain
      - title: Respiratory
      - title: Rheumatology / Musculoskeletal
      - title: Sleep Medicine
      - title: Urology
      - title: Vaccine
      - title: Women’s Health
facility_images:
  - /uploads/locations/austin/Mask-Group-92.jpg
  - /uploads/locations/austin/Mask-Group-93.jpg
  - /uploads/locations/austin/Mask-Group-94.jpg
  - /uploads/locations/austin/Mask-Group-95.jpg
_assets:
  - image: /uploads/locations/austin/Mask-Group-86.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-no-overlay.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="text-center text-secondary editable animate fade-up">Proven Experience in Multiple Therapeutic Areas</h1>
        <div class="editable text-center animate fade-up">
          <p>Velocity research sites and physician investigators have successfully completed studies in most major therapeutic areas. Our investigators’ expertise covers a wide range of subspecialties and understands local differences in patient populations. Broad categories of therapeutic area expertise are shown below with additional information on areas where we have extensive experience. The Velocity team is eager to provide more detail on our experience for your specific study.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% for list_section in page.list_section %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h3 class="animate fade-up">{{ list_section.title }}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          {% assign num_columns = list_section.list_item | size | divided_by: 5  %}
          <ul class="column-list column-{{ num_columns }} animate fade-up">
            {% for list_item in list_section.list_item %}
              <li>{{ list_item.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
<div
  class="bg-image aspect-3x1 animate blur"
  data-lazy-type="bg-image"
  data-lazy-src="{{ page._assets[0].image }}"
  data-cms-editor-link="cloudcannon:#_assets[0]"
  data-cms-editor-link-style="modal">
</div>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="text-center editable animate fade-up">
          <h2>Our Facility is Designed for Clinical Trials</h2>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      {% for image in page.facility_images %}
        <div class="col-lg-3 animate fade-up">
          <div
            class="editable bg-image aspect-5x4 rounded mb-3 fade-in"
            data-lazy-type="bg-image"
            data-lazy-src="{{ image }}"
            style="background-image: url({{ image }})">
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="editable animate fade-up">
          <p>The LOCATION NAME facility is designed for the ease and comfort of study participants and to allow optimal efficiencies in performing clinical trials. All Velocity sites include:</p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-8 mx-lg-auto">
        <div class="editable animate fade-up">
          <ul>
            <li>Private Examination/Consultation Rooms</li>
            <li>Comfortable Patient Reception Areas</li>
            <li>Facilities for Extended-Stay Pharmacokinetic Studies</li>
            <li>Parking</li>
            <li>Nursing Station</li>
            <li>Secure Monitoring Rooms or Workstations with Phone & High-Speed Internet Access</li>
            <li>Multiple Individual & Secure Workstations for Research Staff</li>
            <li>Regulatory Document Processing Area</li>
            <li>Electronic Data Capture (EDC) Capabilities</li>
            <li>Secure Record Storage</li>
            <li>CLIA Certified Research Laboratory or Clinical Laboratory with CLIA waiver</li>
            <li>Ambient and Refrigerated Centrifuge</li>
            <li>Secured & Temperature Controlled Investigational Product Storage with Pharmaceutical Refrigerator & Freezer</li>
            <li>Freezers equipped for laboratory specimens at -20 & -70 degrees Celsius</li>
            <li>Back Up Generator/ Power Source in the Event of Site Power Loss</li>
            <li>Standard Medical equipment, including ECG and Holter Machines, digital and analog scales and XXX</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>