---
layout: location
title: Contact
meta:
---

{% include locations/location-logic.html %}
{% include locations/hero-contact.html %}
<!-- This is line below is for for Reachlocal advertising tracking, removal will not screw up anything-->
<script type="text/javascript" src="//cdn.rlets.com/capture_configs/ad7/115/eeb/0744d25a20e2eb5fd8f9c99.js" async="async"></script>


<section id="location-contact" class="bg-light position-relative pt-0">
  <div class="container position-relative">
    <img src="/img/dots2.png" class="dots top-right" alt="Dots image" />
    <div class="row">
      <div class="col-lg-4">
        <h5 class="text-green font-weight-bold editable">
          Interested in Participating in a Clinical Trial?
        </h5>
        <div class="editable">
          <p>Thank you for your interest in clinical research and in finding out more about participating in one of our clinical trials. Please give us a call at <em>(<strong>401) 739-3573</strong></em> or submit your information and a member of our team will contact you.</p>
          <p>Currently enrolling studies:&nbsp;</p>
          <ul>
            <li>Adolescent COVID Vaccine (ages 12-17 years old)</li>
            <li>Pediatric COVID Vaccine (ages 6 months-11 years old)</li>
            <li>Fibromyalgia</li>
            <li>Celiac Disease</li>
            <li>Atopic Dermatitis/Eczema</li>
            <li>Lyme Disease Vaccine</li>
            <li>Vitiligo</li>
            <li>Osteoarthritis of the Knee</li>
            <li>Pediatric Migraine (ages 6-17 years old)</li>
            <li>Lyme Disease Diagnostic Test</li>
            <li>Healthy Pediatric Volunteer (ages 1 month-21 years old)</li>
            <li>Female Sexual Arousal Disorder (FSAD) (21 years or older and premenopausal)</li>
            <li>Obesity/Overweight for Type 2 Diabetics</li>
          </ul>
          <p>Upcoming Studies:</p>
          <ul>
            <li>Meningitis Vaccine (adolescent and Adults)</li>
            <li>Pediatric COVID Vaccine (ages &lt;12 years old)</li>
            <li>Alopecia</li>
            <li>Adult COVID Vaccine Study (Plant Based)</li>
            <li>COVID Saliva Diagnostic Test</li>
            <li>Chikungunya Vaccine Study (Adults and Adolescents)</li>
            <li>Pediatric Migraine (6 years-17 years old)</li>
            <li>Plaque Psoriasis with Hand and Foot Involvement</li>
            <li>Fibromyalgia</li>
            <li>Migraine (ages 18+)<br />&nbsp;</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="bg-white contact-form shadow p-3 p-lg-5">
          <div class="cognito">
            <script src="https://www.cognitoforms.com/s/B04jtT4dY0C6ZJWIm8hgcQ"></script>
            <script>Cognito.load("forms", { id: "10", entry: { "Location": "{{ location.title }}"} });</script>
            <div class="preloader">
              <img src="/img/siteicon.png" alt="Velocity Clinical Logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/uploads/locations/austin/Mask-Group-43.jpg" class="floatright" alt="" />
  <img src="/img/dots1.png" class="dots" alt="" />
</section>
<section class="bg-light">
  <div class="container">
    <div class="row overlap-top animate fade-up">
      <div class="col-12">
        <div class="shadow p-3 p-lg-5 bg-white rounded position-relative">
          <div class="row align-items-center">
            <div class="col-6 col-lg-3 mx-auto mx-lg-0 mb-3 mb-lg-0">
              <div class="bg-image aspect-1x1 rounded-circle" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-5">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <div>
                <p>{{ location.address }}</p>
              </div>
              <div>
                <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
                <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
              </div>
            </div>
          </div>
          <div class="google-map bg-dark overflow-hidden">
            {{ location.location_details.google_map_embed }}
            {{ location.google_map_embed }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>