---
layout: location
title: Chronic Constipation (CIC)
meta:
  - title: Chronic Constipation (CIC)
    description: >-
      clinical research studies studying constipation and Chronic constipation.
      Enrolling paid studies in Providence area.
    image:
    published: false
---

{% include locations/location-logic.html %}
{% include locations/hero-contact.html %}
<!-- This is line below is for for Reachlocal advertising tracking, removal will not screw up anything-->
<script type="text/javascript" src="//cdn.rlets.com/capture_configs/ad7/115/eeb/0744d25a20e2eb5fd8f9c99.js" async="async"></script>

<section>
  <div class="container">
    
  </div>    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="text-center text-secondary editable animate fade-up">
          Chronic Constipation Research
        </h1>
        <div class="editable text-center animate fade-up">
          <blockquote>
            <p>Constipation is one of the most frequent gastrointestinal complaints in the USA and Western countries. There are at least 2.5 million doctor visits for constipation in the USA each year, and hundreds of millions of dollars are spent on laxatives yearly.</p>
          </blockquote>
          <p>&nbsp;</p>
          <p>Velocity Clinical is currently enrolling for clinical research studies related to Chronic Constipation (CIC).</p>
          <p>Qualified participants receive study-related vaccines and exams at no cost and compensation is provided for time and travel. Insurance is not necessary.</p>
          <p>Contact us if you are interested in learning more or would like to join a study at Velocity.</p>
          <p>Give us a call at <a href="tel:">(401) 739-9350</a>&nbsp;or <em>submit your contact information below</em> and one of our study experts will contact you shortly.</p>
        </div>
      </div>
    </div>
  
</section>
<section id="location-contact" class="bg-light position-relative pt-0">
  <div class="container position-relative">
    <img src="/img/dots2.png" class="dots top-right" alt="Dots image" />
    <div class="row">
      <div class="col-lg-4">
        <h5 class="text-green font-weight-bold editable">
          Interested in Participating in a Clinical Trial?
        </h5>
        <div class="editable">
          <p>We are happy to answer any questions you have about study participation and Constipation research at Velocity! Please submit your contact information and we will contact you shortly.&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="bg-white contact-form shadow p-3 p-lg-5">
          <div class="cognito">
            <script src="https://www.cognitoforms.com/s/B04jtT4dY0C6ZJWIm8hgcQ"></script>
            <script>Cognito.load("forms", { id: "10", entry: { "Location": "{{ location.title }}"} });</script>
            <div class="preloader">
              <img src="/img/siteicon.png" alt="Velocity Clinical Logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/uploads/locations/austin/Mask-Group-43.jpg" class="overlap-image" alt="" />
  <img src="/img/dots1.png" class="dots" alt="" />
</section>
