---
layout: location
title: Eczema - Atopic Dermatitis
meta:
  - title: Atopic Dermatitis
    description: >-
      clinical research studies studying eczema and atopic dermatitis. Enrolling
      paid studies in Providence area.
    image:
---

{% include locations/location-logic.html %}
{% include locations/hero-contact.html %}
<!-- This is line below is for for Reachlocal advertising tracking, removal will not screw up anything-->
<script type="text/javascript" src="//cdn.rlets.com/capture_configs/ad7/115/eeb/0744d25a20e2eb5fd8f9c99.js" async="async"></script>
published: false
<section>
  <div class="container">
    
  </div>    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="text-center text-secondary editable animate fade-up">
          Eczema - Atopic Dermatitis
        </h1>
        <div class="editable text-center animate fade-up">
          <p>Velocity is currently enrolling for Eczema and Atopic Dermatitis research studies.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-contact" class="bg-light position-relative pt-0">
  <div class="container position-relative">
    <img src="/img/dots2.png" class="dots top-right" alt="Dots image" />
    <div class="row">
      <div class="col-lg-4">
        <h5 class="text-green font-weight-bold editable">
          Interested in Participating in a Clinical Trial?
        </h5>
        <div class="editable">
          <p>We are happy to answer any questions you have about study participation and Eczema research at Velocity! Please submit your contact information and we will contact you shortly.&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="bg-white contact-form shadow p-3 p-lg-5">
          <div class="cognito">
            <script src="https://www.cognitoforms.com/s/B04jtT4dY0C6ZJWIm8hgcQ"></script>
            <script>Cognito.load("forms", { id: "8", entry: { "Location": "{{ location.title }}"} });</script>
            <div class="preloader">
              <img src="/img/siteicon.png" alt="Velocity Clinical Logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/uploads/locations/austin/Mask-Group-43.jpg" class="overlap-image" alt="" />
  <img src="/img/dots1.png" class="dots" alt="" />
</section>
