---
layout: location
title: Providence
meta:
location_team:
  - name: 'David Fried, MD'
    role: 'Medical Director, Principal Investigator'
    image: /uploads/fried2.jpg
    bio_html: >-
      <p>David Fried, MD serves as Medical Director for Velocity Clinical
      Research, Providence (formerly Omega Medical Research) as well as the
      Principal Investigator on a significant number of our clinical drug
      trials. Dr. Fried has served in this capacity since 1996. He has been the
      PI on over 350 clinical drug trials. Dr. Fried is Board Certified in
      Internal Medicine and serves as a Clinical Assistant Professor of Medicine
      at Brown University. In addition, he is an internist with Coastal Medical,
      Inc., a regionally based primary care group practice that serves over
      100,000 patients from RI and Southeastern Massachusetts.</p>
  - name: 'Lynne Haughey, MSN, FNP-BC'
    role: Site Director
    image: /uploads/lynn.jpg
    bio_html: >-
      <p>Lynne A. Haughey, MSN, FNP-BC began her career as a Registered Nurse in
      Intensive Care Unit and within five years became Head Nurse in the ICU.
      She progressed to become Director of Critical Care Nursing overseeing ICU,
      CCU, Telemetry, ICU step down and Dialysis Units at a local Rhode Island
      hospital. Lynne then became Director of Stratogen Health in RI, a
      comprehensive HIV/AIDS treatment center. While in this role she began
      studies at the University of RI to pursue a Masters degree in Nursing as a
      Family Nurse Practitioner. This also coincided with the establishment in
      1993 of Omega Medical Research, now Velocity Clinical &ndash; Providence
      with her business partner Johnna Pezzullo, RN.</p><p>Lynne has over 25
      years of clinical research experience with extensive experience in patient
      recruitment, quality assurance and management of research staff. She has
      served as Sub-Investigator on most trials at Velocity - Providence, with
      over 400 trials completed in this capacity. She believes that clinical
      research is and always has been a win-win proposition; patients are
      provided state of the art health care and medications, and providers of
      clinical research help develop cutting edge pharmaceuticals and earn a
      living doing it. What keeps her up at night is the overwhelming
      responsibility at the site level for everything a subject does, everything
      staff does and the enormous expectations and nuances every study
      holds.</p><p>Lynne has a Whoodle (a soft coat Wheaton terrier and poodle)
      named Ruby and loves kayaking, hiking, boating and beaching when not at
      work. She spends an inordinate amount of time at swimming pools as her
      children are both competitive swimmers who hope to make the Olympics some
      day! (Kids can dream). Although Lynne applied for a spot on TV&rsquo;s
      Survivor, she was not chosen.</p>
  - name: 'Johnna Pezzullo, RN, BSN'
    role: 'Sr. Director, Corporate Development'
    image: /uploads/johnna.jpg
    bio_html: >-
      <p>Johnna Pezzullo, RN, BSN started her nursing career working on a
      medical -surgical unit, then moved to work on a step-down unit for post-
      CABG patients. She worked on a telemetry unit, then onto Intensive Care
      and CCU. While working in the ICU, she had an opportunity to work in the
      Clinical Trials Department for Dermatology and became the Director of
      Dermatology Clinical Trials for the hospital. Knowing that Clinical
      Research was her future, she decided to venture out on her own and
      co-founded Independent Research Nurses, Inc. with her business partner,
      Lynne Haughey. This was initially established as a staffing agency to
      provide study coordinators to physicians conducting clinical trials.
      However, it quickly evolved into a research site, later named Omega
      Medical Research. For 26 years, she was co-owner and President and CEO of
      Omega Medical Research, which became the largest, free-standing,
      women-owned, dedicated research center in Rhode Island. Recognized as a
      top tier clinical trial site, Omega Medical Research was frequently sought
      out by Sponsor&rsquo;s and CRO&rsquo;s to participate in their clinical
      trials. Omega Medical Research conducted over 80 vaccine trials and over
      500 clinical trials before being acquired by Velocity Clinical
      Research.</p><p>Johnna finds that being a part of the process that brings
      new therapies and treatments such as HIV, H1N1, and now Covid, to patients
      is extremely rewarding. She enjoys being able to see clinical development
      from the ground up and to appreciate how much the site research work has
      an impact on the lives of others. She looks forward to Velocity Clinical
      Research setting itself apart from other network companies by focusing on
      quality of data collected, and remaining at its core, focused on gratitude
      for all the volunteers that participate in clinical trials.</p><p>When not
      at work, Johnna loves walking through the woods to hunt for mushrooms and
      encourages every aspiring mushroomer to carry a compass! Her favorite
      holiday is Halloween and she strives to have the scariest house on her
      street. Her youthful goal of being a rock star or ball room dancer fell by
      the wayside when she discovered that she could neither sing nor dance.
      Fortunately, she also knew she wanted to be a nurse and the rest is
      history!</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/omega-2.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Austin.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up">
            <strong>Help Make a Difference</strong>
          </h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Providence
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Providence, formerly Omega Medical Research, is part of the Velocity Clinical Research organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
    </div>
  </div>
</div></section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">
          Our Mission
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ site.placeholder_image }}" data-cms-editor-link="{{ site.placeholder_image }}" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">
          Our Story
        </h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 1993
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Providence was founded in 1993 as Omega Medical Research, an independent dedicated research center, by Johnna Pezzullo, BSN, RN and Lynne Haughey, MSN, FNP. The founders&rsquo; guiding principles were to be a site that takes pride in its work and its quality; that is concerned with subject safety first and foremost; and where continuous quality improvement is a priority. Considered to be Rhode Island&rsquo;s premier research center Velocity Providence is centrally located in the smallest state in the US and easily accessible to both study participants and sponsors.</p>
          <p>As a multi-specialty research facility, this site has conducted over 400 Phase I, II, III, IV clinical drug and device trials. Velocity Providence provides multi-therapeutic experience, including extensive experience in vaccine studies and studies in Cardiovascular, Gastroenterology, Dermatology, Rheumatology and Women&rsquo;s Health.</p>
          <p>Velocity Providence is conveniently located just off I &ndash; 295 in a large medical office building with on-site parking. Medical specialists, an X-ray facility, Clinical Laboratory, Urgent Care Center and Sleep Lab are readily available. With more than 5000 square-feet of dedicated research space, Providence can efficiently and effectively conduct multiple concurrent studies. All trials are performed in accordance with ICH and FDA guidelines, and in compliance with GCP.</p>
          <p>The Velocity Providence team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. By becoming part of the Velocity Clinical Research organization in 2020, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Our Experienced Research Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Providence team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
          <p>Please meet our Lead Principal Investigator and Site Director.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>