---
layout: location
title: Clinical Research at Velocity clinical
meta:
  - title:
    description:
    image:
location_team:
  - name: 'Mary Beth Manning, MD'
    role: Principal Investigator
    image: /uploads/Velocity3611-300MaryBethManningMD8x10.jpg
    bio_html: >-
      <p>Mary Beth Manning, MD is a graduate of Case Western Reserve University
      School of Medicine. She completed an internship at the Cleveland Clinic
      Foundation and a residency in Internal Medicine at MetroHealth Medical
      Center. She is board certified in Internal Medicine. Dr. Manning has
      worked for 25 years in the Cleveland area as an Emergency Medicine
      physician in both the Cleveland Clinic and University Hospitals Health
      Systems. She is currently a Senior Clinical Instructor at the Case Western
      Reserve University School of Med</p><p>Dr. Manning joined Velocity
      Clinical &ndash; Cleveland (formerly Rapid Medical Research) in 2013 and
      brings a wealth of clinical experience and a background in research to the
      team! Dr. Manning has been an Investigator on over 200 clinical
      trials!</p>
  - name: 'Lisa Hoagland, BSN, CCRC'
    role: Site Director
    image: /uploads/locations/cleveland/Velocity3133-300LisaHoaglandBSNCCRC.jpg
    bio_html: >-
      <p>Lisa Hoagland, BSN, CCRC started her career in research in 1998 as a
      Research Assistant while finishing nursing school at Ursuline College. Her
      passion for research continued when she became a Certified Clinical
      Research Coordinator in 2001 working directly with patients to bring new
      treatment options to market. Through her level of expertise and dedication
      she became the Site Director at Velocity Clinical &ndash; Cleveland
      (formerly Rapid Medical Research) in 2007 and the Executive Director in
      2013. She has been continuing to grow the site ever since while
      maintaining the high degree of excellence our clients have come to
      expect.</p><p>Lisa is responsible for creating a robust team of
      Investigators, successful in-house Patient Recruitment &amp; Data Entry
      teams and implementing a Quality Assurance program for all trials. Her
      site is known in the industry for Quality Care and Quality Research. Under
      Lisa&rsquo;s guidance and leadership, the site has successfully completed
      over 100 vaccine trials over the past 15 years, becoming one of the most
      sought-after vaccine research sites in the country. She strives for
      perfection and the compassion and care she shows for her staff and the
      site&rsquo;s patients is evident in high retention rates of both. Lisa
      oversees a growing team of over 30 and manages both the day to day
      clinical operations of the site as well as the continued expansion of all
      site capabilities.</p><p>In her spare time, Lisa enjoys reading, the
      outdoors and dreaming of ocean waves, sandy beaches &amp; palm trees! She
      is a true gem from the place where Cleveland Rocks!</p><p>faqs:</p>
  - question: Should you volunteer for clinical studies?
    answer_html: >-
      <p>Clinical Trials are a crucial part of finding new medicines and
      treatments for diseases. There are many reasons why people volunteer to
      participate in clinical trials.&nbsp; You may have the opportunity to play
      a role in the development of new treatments, devices or preventions for
      certain diseases or medical conditions.&nbsp; You may have access to
      investigational treatments before they are available.&nbsp; You may have
      access to free diagnostic procedures or medical tests related to the
      clinical trial and be compensated for your time and travel related to the
      trial.&nbsp; Participation is always voluntary.</p>
  - question: Who can participate in a clinical trial?
    answer_html: >-
      <p>All clinical trials have criteria that define who can participate. The
      factors that allow someone to participate in a clinical trial are called
      &ldquo;inclusion criteria&rdquo; and those that disallow someone from
      participating are called &ldquo;exclusion criteria&rdquo;. These criteria
      are based on such factors as age, gender, the type and stage of a disease,
      previous treatment history, and other medical conditions. Before joining a
      clinical trial, a participant must qualify for the study.</p><p>Some
      research studies seek participants with specific illnesses or conditions,
      while others need healthy participants. It is important to note that
      inclusion and exclusion criteria are not used to reject people personally.
      Instead, the criteria are used to identify appropriate participants and
      keep them safe. The criteria help ensure that researchers will be able to
      answer the questions they plan to study.</p>
  - question: What is protocol?
    answer_html: >-
      <p>A protocol is a written, detailed plan of a study that all research
      sites follow.&nbsp; It outlines criteria that eligible volunteers must
      meet in order to participate in a study. Protocols also describe the
      schedule, procedures, medications, dosages, and length of the study.</p>
  - question: What is informed consent?
    answer_html: >-
      <p>Informed consent consists of a document and a process. The informed
      consent document provides a summary of the trial, including its purpose,
      the treatment procedures and schedule, potential risks and benefits, and
      alternative treatments. It also explains your rights as a clinical trial
      participant. If you decide to enter the trial, you give your official
      consent by signing the document. Even after signing the informed consent,
      you may leave the trial at any time and are given the opportunity to
      discuss alternative treatments with medical staff.</p><p>The informed
      consent process provides you with information to help you make an educated
      decision about participating in a trial.&nbsp; Before you make your
      decision, the site research team will discuss the trial. You will have
      opportunities to ask questions before, during and after the trial.</p>
  - question: How are participants protected?
    answer_html: >-
      <p>All clinical trials conducted in the United States must be reviewed and
      approved by an independent ethical review committee (called an
      Institutional Review Board) prior to starting and throughout the duration
      of the trial. These review boards are made up of people from a variety of
      professions such as doctors, teachers, and religious leaders and who have
      no affiliation with any pharmaceutical companies.</p><p>Ethical review
      boards evaluate all aspects of the research trial, including the written
      study protocol, and make sure that it is following the guidelines and
      procedures required to protect the safety and well-being of patients who
      volunteer for clinical research trials.</p>
  - question: What should I consider before participating?
    answer_html: >-
      <p>If you are interested in participating, you should know as much as
      possible about the clinical trial.&nbsp; You should feel comfortable
      asking the members of the research team any questions about it, including
      the care expected while in a trial, what you should expect during any
      study visits. It may be helpful to write down your questions for the
      research team.</p>
  - question: Can a participant leave a clinical trial after it has begun?
    answer_html: >-
      <p>Yes. A participant can leave a clinical trial, at any time and for any
      reason. When withdrawing from the trial, the participant should let the
      research team know about it, and the reasons for leaving the study.</p>
  - question: What is a placebo?
    answer_html: >-
      <p>A placebo is an inactive pill, liquid, or powder that has no treatment
      value. In some clinical trials, one group of participants will receive a
      placebo instead of an active drug or experimental treatment. In these
      trials, experimental treatments are compared with placebos to assess the
      experimental treatment&rsquo;s effectiveness.&nbsp;</p>
  - question: >-
      What are the phases in the clinical development of a new medicine or
      treatment?
    answer_html: >-
      <p>Clinical trials are generally conducted in phases. The trials at each
      phase have a different purpose and help scientists answer different
      questions:</p><p>In Phase I trials, researchers test an experimental drug
      or treatment in a small group of people (20-80) for the first time to
      evaluate its safety, determine a safe dosage range, and identify side
      effects.</p><p>In Phase II trials, the experimental study drug or
      treatment is given to a larger group of people (100-300) to see if it is
      effective and to further evaluate its safety. These trials also help
      determine the best dosage to use.</p><p>In Phase III trials, the
      experimental study drug or treatment is given to large groups of people
      (1,000-3,000) to confirm its effectiveness, monitor side effects, compare
      it to commonly used treatments, and collect information that will allow
      the experimental drug or treatment to be used safely.</p><p>In Phase IV
      trials, post marketing studies delineate additional information including
      the drug&rsquo;s risks, benefits, and optimal use.</p>
  - name:
    role:
    image:
    bio_html:
_assets:
  - image: /uploads/locations/austin/GettyImages-97863301@2x.jpg
  - image: /uploads/locations/austin/Mask-Group-114.jpg
  - image: /uploads/istock-1215518966.jpg
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}

---
<section id="participating" class="position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="editable animate fade-up">
          Participating in a Clinical Research Trial with VCR
        </h1>
        <h5 class="font-weight-bolder text-dark editable animate fade-up">
          What is clinical research?
        </h5>
        <div class="editable animate fade-up">
          <p>Clinical research is the study of health and illness in humans, in both sick and healthy people. It focuses on improving knowledge of diseases, developing diagnostic methods and new treatments or medical devices to ensure better patient care. Clinical research trials are carefully designed, reviewed and completed, and must be approved before they can start.</p>
          <p>All clinical research must:</p>
          <ul>
            <li>have the goal of increasing medical knowledge</li>
            <li>be carried out by competent persons take all necessary measures to protect those who lend themselves to research</li>
            <li>obtain regulatory approvals and take all the necessary legal and ethical steps</li>
            <li>collect the consent of those involved in research</li>
          </ul>
        </div>
        <h5 class="font-weight-bolder text-dark editable animate fade-up">
          Why should I participate?
        </h5>
        <div class="editable animate fade-up">
          <p>Clinical Trials are a crucial part of finding new medicines and treatments for diseases. There are many reasons why people volunteer to participate in clinical trials. You may have the opportunity to play a role in the development of new treatments, devices or preventions for certain diseases or medical conditions. You may have access to investigational treatments before they are available. You may have access to free diagnostic procedures or medical tests related to the clinical trial and be compensated for your time and travel related to the trial.</p>
        </div>
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <div class="mosaic-images-stack left-to-right animate blur">
          <div class="image-wrapper">
            <div class="bg-image aspect-5x4 rounded rellax" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[0].image }}" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal" data-rellax-speed="0.5"></div>
          </div>
          <div class="image-wrapper">
            <div class="bg-image aspect-5x4 rounded" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[1].image }}" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal" data-rellax-speed="-0.5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots3.png" class="dots bottom-right" alt="Dots image" />
</section>
<section id="what" class="bg-primary text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="bg-image aspect-4x3 mb-3 mb-lg-0 animate blur" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[2].image }}" data-cms-editor-link="cloudcannon:#_assets[2]" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7">
        <h2 class="text-white animate fade-up editable">
          What is a clinical trial? ^(video or slideshow of photos/videso)
        </h2>
        <div class="animate fade-up editable">
          <p>A clinical research trial is a scientific study that helps determine how a new medicine or treatment works in humans. Clinical research trials are conducted to obtain information used to determine the safety and effectiveness of a new drug, device, or treatment. The US FDA must review information from these clinical trials and then decide if the drug, device, or treatment should be approved and made available to patients on the market. The FDA has strict rules that govern how clinical trials are conducted. These rules are designed to ensure the safety of those who participate.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faqs" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="text-center font-weight-bold animate fade-up editable">
          Frequently Asked Questions (list of FAQ focusing on barriers to entry common confusions)
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        {% for faq in page.faqs %}
          <div class="bg-white p-3 p-lg-5 mb-4 animate fade-up">
            <a class="d-flex justify-content-between align-items-center h2 mb-0 collapsed" data-toggle="collapse" href="#collapse-{{ forloop.index }}" role="button" aria-expanded="false" aria-controls="collapse-{{ forloop.index }}">
              {{ faq.question }} <i class="ri-arrow-down-s-line"></i>
            </a>
            <div class="collapse" id="collapse-{{ forloop.index }}">
              <div class="pt-5">
                {{ faq.answer_html }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <img src="/img/dots3.png" class="dots bottom-left" alt="Dots image" />
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Velocity Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>When you participate in research at Velocity Cleveland, the faces below are the ones that will work with you to advance science!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>
