---
layout: location
title: Velocity Cleveland
meta:
  - title:
    description:
    image:
location_team:
  - name: 'Mary Beth Manning, MD'
    role: Principal Investigator
    image:
    bio_html: >-
      <p>Mary Beth Manning, MD is a graduate of Case Western Reserve University
      School of Medicine. She completed an internship at the Cleveland Clinic
      Foundation and a residency in Internal Medicine at MetroHealth Medical
      Center. She is board certified in Internal Medicine. Dr. Manning has
      worked for 25 years in the Cleveland area as an Emergency Medicine
      physician in both the Cleveland Clinic and University Hospitals Health
      Systems. She is currently a Senior Clinical Instructor at the Case Western
      Reserve University School of Med</p><p>Dr. Manning joined Velocity
      Clinical &ndash; Cleveland (formerly Rapid Medical Research) in 2013 and
      brings a wealth of clinical experience and a background in research to the
      team! Dr. Manning has been an Investigator on over 90 clinical trials!</p>
  - name: 'Lisa Hoagland, BSN, CCRC'
    role: Site Director
    image:
    bio_html: >-
      <p>Lisa Hoagland, BSN, CCRC started her career in research in 1998 as a
      Research Assistant while finishing nursing school at Ursuline College. Her
      passion for research continued when she became a Certified Clinical
      Research Coordinator in 2001 working directly with patients to bring new
      treatment options to market. Through her level of expertise and dedication
      she became the Site Director at Velocity Clinical &ndash; Cleveland
      (formerly Rapid Medical Research) in 2007 and the Executive Director in
      2013. She has been continuing to grow the site ever since while
      maintaining the high degree of excellence our clients have come to
      expect.</p><p>Lisa is responsible for creating a robust team of
      Investigators, successful in-house Patient Recruitment &amp; Data Entry
      teams and implementing a Quality Assurance program for all trials. Her
      site is known in the industry for Quality Care and Quality Research. Under
      Lisa&rsquo;s guidance and leadership, the site has successfully completed
      over 75 vaccine trials over the past 15 years, becoming one of the most
      sought-after vaccine research sites in the country. She strives for
      perfection and the compassion and care she shows for her staff and the
      site&rsquo;s patients is evident in high retention rates of both. Lisa
      oversees a growing team of over 30 and manages both the day to day
      clinical operations of the site as well as the continued expansion of all
      site capabilities.</p><p>In her spare time, Lisa enjoys reading, the
      outdoors and dreaming of ocean waves, sandy beaches &amp; palm trees! She
      is a true gem from the place where Cleveland Rocks!</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Austin.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up">
            <strong>Help Make a Difference</strong>
          </h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research Cleveland
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research Cleveland, formerly Rapid Medical Research Inc., is part of the Velocity Clinical Research Organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">
          Our Mission
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ site.placeholder_image }}" data-cms-editor-link="{{ site.placeholder_image }}" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 1997
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research Cleveland was founded in 1997 as Rapid Medical Research Inc., an independent dedicated research center. Velocity Cleveland offers Phase I to IV multi-therapeutic experience, including extensive experience with Vaccine indications. Other experience includes Women&rsquo;s Health, Dermatology, Gastroenterology and other Internal Medicine indications. Patient demographics are diverse and range from pediatric to geriatric participants.</p>
          <p>Velocity Cleveland is located in Beechwood, OH, just east of metropolitan Cleveland and with easy access from I-271. With more than 6500 square-feet of dedicated research space, they can efficiently and effectively conduct multiple concurrent studies. All trials are performed in accordance with ICH and FDA guidelines, and in compliance with GCP.</p>
          <p>The Velocity Cleveland team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. By becoming part of the Velocity Clinical Research organization in 2019, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Our Experienced Research Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Cleveland team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
          <p>Please meet our Lead Principal Investigator and Site Director.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>