---
layout: location
title: San Diego
meta:
location_team:
  - name: 'J.Scott Overcash, MD'
    role: Lead Principal Investigator
    image: /uploads/j--scott-overcash-m-d--san-diego.jpg
    bio_html: >-
      <p>J. Scott Overcash joined eStudySite, now Velocity Clinical San Diego,
      in 2012 and serves as the lead Principal Investigator. &nbsp; &nbsp;Dr.
      Overcash is a board- certified Emergency Physician with over 11 years of
      clinical and research experience. He attended the University of North
      Carolina School of Medicine where he obtained his M.D. degree and
      completed their highly ranked Emergency Medicine residency program. Dr.
      Overcash is a Diplomate of the American Board of Emergency Medicine, a
      Fellow of the American Board of Emergency Medicine, board certified by the
      American Academy of Anti-Aging, and an active member of the Association of
      Clinical Research Professionals. His work has been published in national
      peer reviewed journals including the New England Journal of Medicine.</p>
  - name: 'Allison Davis, RN, BSN, CCRC'
    role: Site Director
    image: /uploads/allison-davis-site-director-san-diego.jpg
    bio_html: >-
      <p>Allie Davis is the Site Director at our Velocity San Diego site. With
      over 14 years research experience, she has experience as a Certified
      Clinical Research Coordinator and an ICU and Trauma RN. Since joining
      eStudySite in 2006, she has been instrumental in the evolution of
      operating practices within the Company and has managed multiple research
      sites. She has a Bachelor of Science degree in Nursing.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Shot-About.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up">
            <strong>Help Make a Difference</strong>
          </h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research,<br />San Diego
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, San Diego, formerly eStudySite, is part of the Velocity Clinical Research organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">
          Our Mission
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[6].image }}" data-cms-editor-link="cloudcannon:#_assets[6].image" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 1999
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research San Diego was founded in 1999 as eStudySite, by Dr. William O&rsquo;Riordan. Through comprehensive research services agreements with each of its partner hospitals, the clinic has been able to conduct a broad range of in-patient and out-patient protocols spanning first-in-human/first-in-patient through to pivotal trials and post-marketing support. Velocity San Diego has a worldwide reputation for excellence in conducting infectious disease trials including antibiotics, antivirals, vaccines, and diagnostic studies, consistently enrolling among the top 5% of participating sites. Over the last 20 years, the center has continued to grow its therapeutic area expertise to include: endocrinology, hepatology, dermatology, and gastroenterology.</p>
          <p>Over the past 20 years, Velocity San Diego has forged relationships in the community in order to enhance recruitment of elderly subjects and other sub-populations. In addition, a bi-lingual research team successfully recruits and enrolls many Latinx study participants.</p>
          <p>Accessible to several major highways, this ADA compliant facility serves the greater San Diego area, and includes an inpatient/outpatient infusion center. With more than 11,000 square-feet of dedicated research space the research team can efficiently and effectively conduct multiple concurrent studies. All trials are performed in accordance with ICH and FDA guidelines, and in compliance with GCP. All Nurses are ACLS certified and all other staff are BLS certified.</p>
          <p>The Velocity San Diego team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research.&nbsp; By becoming part of the Velocity Clinical Research organization in 2020, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Our Experienced Research Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity San Diego team of physician investigators and clinical research professionals are</p>
          <p>experienced clinical researchers.&nbsp; All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. &nbsp;Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
          <p>&nbsp;</p>
          <p>Please meet our Lead Principal Investigators and Site Director.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>