.cognito {
  color: $white;
  .c-field {
    padding: 12px 0 !important;
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .c-forms-form {
    .c-label,
    .c-editor {
      color: $white !important;
      font-family: $font-family-base !important;
    }
    .c-label {
      padding-left: 0;
      padding-right: 0;
    }
    .c-editor {
      padding: 0;
    }
    @include media-breakpoint-up(md) {
      .c-label {
        width: 30%;
        text-align: right;
        padding-right: 20px;
      }
      .c-editor {
        width: 50%;
      }
    }
  }
  .c-yesno-radiobuttons {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px !important;
    margin-bottom: 20px;
  }
  .c-yesno-radio {
    display: block !important;
  }
  .c-button-section {
    .c-action {
      float: none;
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }
  .c-forms-confirmation {
    width: 100%;
    min-height: 0;

  }
  .c-forms-confirmation-message {
    text-align: center;
    color: $white !important;
    font-size: 24px !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px !important;
    p {
      margin-bottom: 0 !important;
    }
  }
  .c-validation {
    height: 27px !important;
    line-height: 27px !important;
    font-size: 12px !important;
    margin: 0;
    border-radius: 0 !important;

  }
  #c-submit-button {
    border-radius: 0;
    border: 1px solid $white;
    color: $white;
    font-size: 20px;
    font-family: $font-family-base;
    width: 40%;
    padding: 10px 75px;
    background-color: transparent;
    float: none;
    margin: 50px auto 15px;
    display: block;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}