.cognito {
  color: $white;
  .c-field {
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .c-forms-form {
    .c-label,
    .c-editor {
      color: $white !important;
      font-family: $font-family-base !important;
    }
    .c-label {
      padding-left: 0;
      padding-right: 0;
    }
    .c-editor {
      padding: 0;
    }
    @include media-breakpoint-up(md) {
      .c-label {
        width: 50%;
        text-align: right;
        padding-right: 10px;
      }
      .c-editor {
        width: 50%;
      }
    }
  }
  .c-yesno-radiobuttons {
    border-top: 1px solid $white;
    padding-top: 20px !important;
    margin-top: 20px;
  }
  .c-button-section {
    .c-action {
      float: none;
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }
  #c-submit-button {
    border-radius: 0;
    border: 1px solid $white;
    color: $white;
    font-family: $font-family-base;
    padding: 10px 75px;
    background-color: transparent;
    float: none;
    margin: 0 auto;
    display: block;
  }
}