.mobile-content-image-overlay {
  @include media-breakpoint-down(sm) {
    .container {
      padding: 0;
      .overlay-mobile {
        margin: -75px 15px 0;
        background: $white;
      }
    }
  }
}