#page-header {
  background-image: url(/assets/img/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 100px 0 150px;
  img {
    width: 355px;
  }
}
