---
layout: location
title: COVID19
meta:
  - title: COVID-19 Prevention Research
    description: >-
      Velocity is conducting research in the Valparaiso area for COVID-19
      prevention. Call or submit your information to learn more
    image: /uploads/Mask-Group-12@2x.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-contact.html %}
<!-- This is line below is for for Reachlocal advertising tracking, removal will not screw up anything-->
<script type="text/javascript" src="//cdn.rlets.com/capture_configs/f7e/d70/7a5/07841b5978bc507e461c2ac.js" async="async"></script>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="text-center text-secondary editable animate fade-up">
          <strong>COVID-19 Prevention Research</strong>
        </h1>
        <div class="editable text-center animate fade-up">
          <p>Velocity is currently enrolling for COVID-19 Vaccine studies.&nbsp;</p>
          <p>Velocity is looking for participants in the Valparaiso area to take part in COVID-19 research. You must be 18 years or older to participate. Our research coordinators will reach out to you to answer your questions and see if you are suitable for any of our active or upcoming studies.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-contact" class="bg-light position-relative pt-0">
  <div class="container position-relative">
    <img src="/img/dots2.png" class="dots top-right" alt="Dots image" />
    <div class="row">
      <div class="col-lg-4">
        <h5 class="text-green font-weight-bold editable">
          Thank you for your interest in our studies. Science can't move forward without your help!
        </h5>
        <div class="editable">
          <p>Provide your contact information to receive participation information on COVID-19 prevention studies.</p>
        </div>
      </div>


      <div class="col-lg-8">
        <div class="bg-white contact-form shadow p-3 p-lg-5">
          <div class="cognito">
            <script src="https://www.cognitoforms.com/s/B04jtT4dY0C6ZJWIm8hgcQ"></script>
            <script>Cognito.load("forms", { id: "8", entry: { "Location": "{{ location.title }}"} });</script>
            <div class="preloader">
              <img src="/img/siteicon.png" alt="Velocity Clinical Logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/uploads/locations/austin/Mask-Group-43.jpg" class="overlap-image" alt="" />
  <img src="/img/dots1.png" class="dots" alt="" />
</section>
