<section class="hero-specialties animate blur" style="background-image: url({{ page.hero_image | default: '/uploads/vaccine-header.jpg' }})">
  <div class="bg-overlay overlay-primary"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-lg-auto">
        <div class="text-center text-white">
          <p class="subtitle animate fade-up">Specialties</p>
          <h1 class="mb-0 animate fade-up text-white">{{ page.title }} Highlights</h1>
        </div>
      </div>
    </div>
  </div>
</section>