---
layout: location
title: Medford
meta:
location_team:
  - name: 'Gregg Lucksinger, MD'
    role: 'Medical Director, Principal Investigator'
    image: /uploads/lucksinger.jpg
    bio_html: >-
      <p>Gregg Lucksinger, M.D. received his medical degree from the University
      of Texas Health Science Center in San Antonio, TX and completed his
      residency in Family Medicine at Central Texas Medical Foundation /
      Brackenridge Hospital in Austin.&nbsp; He is board certified in Family
      Medicine and has more than twenty years of clinical research experience as
      a Principal Investigator. The bulk of this research<em> </em>has consisted
      of Phase 2-3 studies of vaccines and antivirals or therapeutics for lupus,
      rheumatoid arthritis, migraine, chronic pain and cardiovascular and
      endocrine/metabolic diseases.<em> </em>After 15 years of practice in both
      inpatient and outpatient settings and 20 years with various clinical
      research organizations in the Austin area, Dr. Lucksinger is now the lead
      Principal Investigator at Velocity Medford.&nbsp; In his free time, he
      enjoys gardening and cooking with his wife Sara, scuba diving, snow skiing
      and showing his artistic side as a glass blower.</p>
  - name: 'Ryan Israelsen, MD'
    role: Principal Investigator
    image: /uploads/isrealsen.jpg
    bio_html: >-
      <p>Dr. Ryan B. Israelsen joined the Velocity Clinical Research in 2018.
      Dr. Israelsen received his bachelors of science in biological engineering
      from Utah State University. He attended medical school at the University
      of Utah then was trained in Pediatrics and Internal Medicine at the
      University of Pittsburgh Medical Center. Dr. Israelsen is board certified
      in both pediatrics and internal medicine.</p><p>Dr. Israelsen completed
      fellowship training in allergy and immunology at the University of
      Colorado and Children&rsquo;s Hospital of Colorado. In fellowship training
      Dr. Israelsen was involved in food allergy research, drug allergy, and was
      involved in numerous oral food challenges (testing for food allergies).
      Dr. Israelsen was also involved in the clinical care of children and
      adults with immunodeficiencies, autoimmune problems, and immune
      dysregulation.</p><p>Dr. Israelsen is a fellow of both the American
      Academy of Allergy, Asthma and Immunology and the American College of
      Allergy Asthma and Immunology. He has been involved in research regarding
      Crohn&rsquo;s disease, immunodeficiency, immune dysregulation, Rituximab
      therapy for autoimmune diseases, and Penicillin allergy. He is the author
      on scientific papers for food allergy and asthma therapies and has been
      involved in food allergy, asthma and allergy research.</p><p>Outside of
      medical interests, Dr. Israelsen enjoys spending time with his wife,
      McKenzie, and 4 children. He also enjoys running, biking, hiking, rock
      climbing, good books, and chocolate chip cookies.</p>
  - name: 'Daniel Hamlin, BS, CCRC, AE-C'
    role: Site Director
    image: /uploads/dan.jpg
    bio_html: >-
      <p>Danuel Hamlin, BS, CCRC, AE-C has been a Clinical Research Coordinator
      at Velocity Clinical &ndash; Medford (formerly Crisor) since 2001 and the
      Clinical Research Director since 2004. Dan oversees day-to-day operations
      including training for all staff and site preparation for sponsor and
      regulatory agency audits.</p><p>Dan&rsquo;s positive leadership has helped
      build a strong team focused on serving patients and working with clinical
      research sponsors to provide excellent, perfectly executed clinical
      trials. Dan has a background in sports medicine and played football at
      Southern Oregon University in Ashland, Oregon.</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Austin.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up">
            <strong>Help Make a Difference</strong>
          </h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Velocity Clinical Research, Medford
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research, Medford, formerly Clinical Research Institute of Southern Oregon, is part of the Velocity Clinical Research organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">
          Our Mission
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[5].image }}" data-cms-editor-link="cloudcannon:#_assets[5].image" data-cms-editor-link-style="modal">
        </div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ site.placeholder_image }}" data-cms-editor-link="{{ site.placeholder_image }}" data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">
          Our Story
        </h5>
        <h2 class="animate fade-up editable">
          Conducting Clinical Trials Since 1997
        </h2>
        <div class="animate fade-up editable">
          <p>Velocity Medford was founded by Dr. Edwin Kerwin, a Board Certified Respiratory, Allergy and Clinical Immunology specialist, in 1997 as Clinical Research Institute of Southern Oregon. As an independent dedicated research facility, Velocity Medford has long been a foremost respiratory clinical research center, with a core focus on Allergy, Asthma and COPD clinical studies. Medford is often one of the top enrolling sites nationally for these respiratory indications and has also developed additional expertise in atopic dermatitis and vaccine studies. In addition, selected members of the research team process in-depth knowledge of spirometry assessments.</p>
          <p>The site is conveniently located just 10 minutes from the Medford airport with easy access and free parking. Metropolitan Medford has a population of 216,000 with another 300,000 residents in the surrounding counties. A robust database of potential study participants supports other recruiting efforts in this geographic area. With more than 8,500 square-feet of dedicated research space, they can efficiently and effectively conduct multiple concurrent studies. All trials are performed in accordance with ICH and FDA guidelines, and in compliance with GCP.</p>
          <p>The Velocity Medford team is committed to being a resource for study volunteers, to providing the highest quality of patient care with compassion and kindness and to advancing medicine though research. By becoming part of the Velocity Clinical Research organization in 2017, they added new efficiencies and integration to their already comprehensive approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">
          Our Experienced Research Team
        </h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Medford team of physician investigators and clinical research professionals are experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and strives on collecting quality data.</p>
          <p>Please meet our Lead Principal Investigator and Site Director.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>