.homepage-form {
  .cognito {
    color: $white;
    .c-field {
      padding: 12px 0 !important;
      position: relative;
      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.c-required {
        .c-label {
          &::after {
            color: #e84142 !important;
          }
        }
      }
    }
    .c-forms-form {
      .c-label,
      .c-editor {
        color: $white !important;
        font-family: $font-family-base !important;
      }
      .c-label {
        padding-left: 0;
        padding-right: 0;
      }
      .c-editor {
        padding: 0;
        .c-choice-option {
          label {
            text-indent: 0;
            display: flex;
            align-items: center;
            padding: 0;
          }
        }
      }
      @include media-breakpoint-up(md) {
        .c-label {
          width: 30%;
          text-align: right;
          padding-right: 20px;
        }
        .c-editor {
          width: 50%;
        }
      }
    }
    .c-yesno-radiobuttons {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 20px !important;
      margin-bottom: 20px;
      .c-label {
        width: 100%;
        text-align: left;
        margin-top: 20px;
      }
    }
    .c-yesno-radio {
      display: block !important;
    }
    .c-button-section {
      .c-action {
        float: none;
        @include media-breakpoint-down(md) {
          margin: 0;
        }
      }
    }
    .c-choice-checkboxes {
      align-items: flex-start;
      .c-label {
        width: 100%;
        text-align: left;
        margin-top: 20px;
      }
    }
    .c-forms-confirmation {
      width: 100%;
      min-height: 0;

    }
    .c-forms-confirmation-message {
      text-align: center;
      color: $white !important;
      font-size: 24px !important;
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 30px !important;
      p {
        margin-bottom: 0 !important;
      }
    }
    .c-validation {
      height: 20px !important;
      line-height: 20px !important;
      font-size: 12px !important;
      margin: 0;
      border-radius: 0 !important;
      position: absolute;
      bottom: -8px;
      right: 10%;
      @include media-breakpoint-down(md) {
        right: 0;
      }
    }
    #c-submit-button {
      border-radius: 0;
      border: 1px solid $white;
      color: $white;
      font-size: 20px;
      font-family: $font-family-base;
      width: 40%;
      padding: 10px 75px;
      background-color: transparent;
      float: none;
      margin: 50px auto 15px;
      display: block;
      @include transition(.5s);
      &:hover {
        background-color: $white;
        color: $primary;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}

.covid-19-form,
.contact-form {
  padding: 30px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 10px 20px 30px rgba($black, 0.1);
  .cognito {
    .c-forms-form {
      .c-label {
        margin-left: 5px;
        margin-bottom: 1px;
        font-weight: 600;
      }
      .c-helptext {
        p {
          margin-bottom: 0;
        }
      }
      .c-editor {
        input,
        textarea {
          padding: 10px;
          border-radius: 5px; 
          border: 1px solid $cyan;
          border-color: $cyan;
        }
        .c-dropdown {
          select {
            border: 1px solid $cyan;
            border-radius: 5px;
            padding: 10px;
          }
        }
      }
    }
    form + div {
      display: none !important;
      visibility: hidden !important;
      height: 0 !important;
    }
  }
  #c-submit-button {
    border: 1px solid $lime-green;
    background-color: transparent;
    color: $green;
    border: 2px solid $lime-green;
    border-radius: 5px;
    font-weight: 600;
  }
}


// Preloader behavior for cognito form
.preloader {
  display: none;
  width: 100%;
  text-align: left;
  img {
    width: 50px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

// Override the default invisibility if the preloader doesn't have a form after it.
.preloader:last-child {
  display: block !important;
}