.dots {
  position: absolute;
  &.top-left {
    top: -75px;
    left: 0;
    width: 25%;
    @include media-breakpoint-up(lg) {
      top: -175px;
      left: 60px;
    }
  }
  &.top-right {
    top: 0;
    right: 0;
    width: 15%;
  }
  &.bottom-right {
    bottom: -50px;
    right: 0;
    width: 15%;
    
  }
  &.bottom-left {
    bottom: -50px;
    left: 0;
    width: 20%;
    max-width: 200px;
    
  }
  &.overflow-left {
    left: -7%;
  }
  &.overlap-bottom {
    bottom: -150px;
  }
}