.dots {
  position: absolute;
  &.top-left {
    top: -50%;
    transform: translateY(50%);
    left: 60px;
    width: 25%;
  }
  &.top-right {
    top: 0;
    right: 0;
    width: 15%;
  }
  &.bottom-right {
    bottom: -50px;
    right: 0;
    width: 15%;
    &.overlap-bottom {
      bottom: -150px;
    }
  }
  &.bottom-left {
    bottom: -50px;
    left: 0;
    width: 20%;
    &.overflow-left {
      left: -7%;
    }
  }
}