.flip-card-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .flip-card {
    width: 100%;
    margin-bottom: 8%;
    @include media-breakpoint-up(sm) {
      width: 47%;
    }

    @include media-breakpoint-up(md) {
      width: 27%;
    }
    .text-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card {
  &:hover {
    .flip-card-inner {
      transform: rotateY(180deg);
      .text-overlay,
      .bg-image {
        opacity: 0;
      }
    }
  }
}


.flip-card-front {
  overflow: hidden;
  .text-overlay {
    @include transition(opacity, 0.7s);
  }
  .bg-image {
    @include transition(opacity, 0.7s);
  }
  .overlay-content {
    padding: 20px;
  }
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  background-color: $white;
  color: $dark;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  p {
    font-size: 14px;
  }
}