#us-map {
  height: 350px;
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
  
}

.bubbles {
  stroke-width: 2px;
  &:hover {
    color: $primary-dark;
  }
}

.hover-info {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background-color: $white;
  color: $primary;
  p {
    margin-bottom: 5px;
    font-size: 12px;
  }
  h5 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 0;
  }
}