#page-footer {
  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.footer-logo {
  width: 230px;
}

.social-link {
  padding: 15px;
  &::before,
  &::after
   {
    display: none;
  }
  &:hover {
    opacity: .7;
  }
  img {
    height: 20px;
  }
}

.sub-logo {
  width: 130px;
}

.sub-logo-wide {
  width: 270px;
}
