---
layout: default
title: Capabilities
hero:
  - image: /img/capabilities/Capabilities-header.jpg
    title:
    subtitle:
    color_overlay: false
statistic_section:
  - title: Vaccine Experience
    statistic:
      - number: 305
        description: Vaccine trials since XXXX
      - number: 30
        description: Complete Pneumonia Studies
      - number: 26
        description: Completed RSV Studies
      - number: 26
        description: Completed RSV Studies
capabilities:
  - title: Wholly owned clinical research sites
    icon_image: /img/capabilities/sites-icon.svg
    list_item:
      - title: All research staff at our sites are empolyees of Velocity
      - title: >-
          Ability to focus hiring of experienced researchers who are dedicated
          to excellent patient care
      - title: Allow all employees to receive same training and certifications
  - title: >-
      Single point of oversight and contact for key study activities across all
      Velocity sites
    icon_image: /img/capabilities/singlepoint-icon.svg
    list_item:
      - title: Centralized nationwide feasability
      - title: Centralized patient recruitment oversight
      - title: Centralized billing and payment
  - title: Expedited Study Start-up
    icon_image: /img/capabilities/expedited-icon.svg
    list_item:
      - title: Single budget and contract for all Velocity sites in your study
      - title: 48 hour turnaround on contract/budget responses
      - title: Common Central IRB
  - title: Research capable facilities customized for regulatory requirements
    icon_image: /img/capabilities/research-icon.svg
    list_item:
      - title: >-
          Monitored drug storage rooms for all temperature storage needs with
          locked, limited access
      - title: >-
          CLIA waived labs with refrigerated centrifuges and incubators and
          back-up power supplies
      - title: Active IBC registrations
      - title: Some sites with overnight capabilities for pharmacokinetic trials
  - title: High level of consistency across sites for operations and data quality
    icon_image: /img/capabilities/consistency-icon.svg
    list_item:
      - title: Uniform Velocity SOPs
      - title: Integrated Medical records and recruitment systems
      - title: >-
          Core team of Site Directors who work closely to ensure local site
          compliance
  - title: Multi-specialty research capabilities
    icon_image: /img/capabilities/multispecialty-icon.svg
    list_item:
      - title: >-
          Velocity sites conduct studies in nearly all major therapeutic areas
          with extensive experience in several key areas
      - title: >-
          Our researchers understand the nuances of different therapeutic
          assessments and how to find patients who meet study criteria
  - title: Accelerated enrolment and data entry
    icon_image: /img/capabilities/data-icon.svg
    list_item:
      - title: >-
          Access to diverse patient populations and centralized recruitment
          support results in high volume, rapid enrollment
      - title: 48 hour data entry goals
      - title: Data query resolution within 48 hours of query generation
_assets:
  - /img/capabilities/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg
  - /img/capabilities/christina-wocintechchat-com-z5SOVx-y3F4-unsplash.jpg
---

{% include hero.html %}

<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="subtitle editable">Capabilities</h3>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem facere quisquam deleniti molestiae porro, ad provident eveniet doloremque repudiandae amet totam veniam, aut quaerat inventore quasi cum eaque illo quas.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem facere quisquam deleniti molestiae porro, ad provident eveniet doloremque repudiandae amet totam veniam, aut quaerat inventore quasi cum eaque illo quas.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem facere quisquam deleniti molestiae porro, ad provident eveniet doloremque repudiandae amet totam veniam, aut quaerat inventore quasi cum eaque illo quas.</p>
      </div>
      <div class="col-lg-6">
        <div class="mosaic-images-stack right-to-left">
          <div class="image-wrapper rounded">
            <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[0] }})" data-cms-editor-link="cloudcannon:#_assets[0]" data-cms-editor-link-style="modal"></div>
          </div>
          <div class="image-wrapper rounded">
            <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[1] }})" data-cms-editor-link="cloudcannon:#_assets[1]" data-cms-editor-link-style="modal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% for stat_section in page.statistic_section %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="mb-5">{{ stat_section.title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for stat in stat_section.statistic %}
        <div class="col-lg-3 mb-5">
          <div class="text-center">
            <p class="h2 font-weight-bold">{{ stat.number }}</p>
            <p>{{ stat.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
<section id="capabilities" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center editable">Velocity Capabilities</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include components/capabilities-carousel.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="text-secondary editable">Proven Experience in Multiple Therapeutic Areas</h2>
          <div class="editable">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit velit odit natus fugiat cumque id, voluptatibus, magni fugit dolorem quo dolorum, totam veniam quasi. Sint quidem quibusdam asperiores repellat illum!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2 class="font-weight-bolder editable">Our Therapeutic Areas</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3">
          {% for i in (1..6) %}
            <div class="card bg-image aspect-auto text-white mb-4" style="background-image: url(/img/capabilities/dermatology.jpg)">
              <div class="card-body p-4">
                <h6 class="text-white font-weight-bolder mb-0 mt-5">Specialty Name {{ forloop.index }}</h6>
                <p><a href="/single-specialty" class="text-white">Learn more</a></p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center editable">
          <img src="/img/capabilities/dots.png" class="img-fluid my-5" alt="Dots image">
          <ul class="column-list column-3">
            {% for i in (1..17) %}
              <li>Expertise Name</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% include cta-place-a-study.html %}