---
layout: default
title: Capabilities
hero:
  - image: /img/capabilities/Capabilities-header.jpg
    title:
    subtitle:
    color_overlay: false
statistic_section:
  - title: Vaccine Experience
    statistic:
      - number: 305
        description: Vaccine trials since XXXX
      - number: 30
        description: Complete Pneumonia Studies
      - number: 26
        description: Completed RSV Studies
      - number: 26
        description: Completed RSV Studies
capabilities:
  - title:
    icon_image:
    list_item:
  

_assets:
  - /img/capabilities/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg
  - /img/capabilities/christina-wocintechchat-com-z5SOVx-y3F4-unsplash.jpg

---

{% include hero.html %}

<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="subtitle editable">Capabilities</h3>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem facere quisquam deleniti molestiae porro, ad provident eveniet doloremque repudiandae amet totam veniam, aut quaerat inventore quasi cum eaque illo quas.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem facere quisquam deleniti molestiae porro, ad provident eveniet doloremque repudiandae amet totam veniam, aut quaerat inventore quasi cum eaque illo quas.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem facere quisquam deleniti molestiae porro, ad provident eveniet doloremque repudiandae amet totam veniam, aut quaerat inventore quasi cum eaque illo quas.</p>
      </div>
      <div class="col-lg-6">
        <div class="mosaic-images-stack">
          <div class="image-wrapper rounded">
            <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[0] }})" data-cms-editor-link="cloudcannon:#_assets[0]" data-cms-editor-link-style="modal"></div>
          </div>
          <div class="image-wrapper rounded">
            <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[1] }})" data-cms-editor-link="cloudcannon:#_assets[1]" data-cms-editor-link-style="modal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% for stat_section in page.statistic_section %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="mb-5">{{ stat_section.title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for stat in stat_section.statistic %}
        <div class="col-lg-3 mb-5">
          <div class="text-center">
            <p class="h2 font-weight-bold">{{ stat.number }}</p>
            <p>{{ stat.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center editable">Velocity Capabilities</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include components/owl-carousel.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2>Proven Experience in Multiple Therapeutic Areas</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit velit odit natus fugiat cumque id, voluptatibus, magni fugit dolorem quo dolorum, totam veniam quasi. Sint quidem quibusdam asperiores repellat illum!</p>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2 class="font-weight-bolder editable">Our Therapeutic Areas</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3">
          {% for i in (1..6) %}
            <div class="card bg-image aspect-auto text-white mb-4" style="background-image: url(/img/capabilities/dermatology.jpg)">
              <div class="card-body p-4">
                <h6 class="text-white font-weight-bolder mb-0 mt-5">Specialty Name {{ forloop.index }}</h6>
                <p><a href="/single-specialty" class="text-white">Learn more</a></p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        <div class="text-center editable">
          <h4>Also Expertise In:</h4>
          <ul class="column-list three-column">
            {% for i in (1..17) %}
              <li>Expertise Name</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% include cta-place-a-study.html %}