---
layout: default
title: Capabilities
hero:
  - image: /img/capabilities/Capabilities-header.jpg
    title:
    subtitle:
    color_overlay: false
statistic_section:
  - title: Velocity At-A-Glance
    statistic:
      - number: 305
        description: Vaccine trials since XXXX
      - number: 30
        description: Complete Pneumonia Studies
      - number: 26
        description: Completed RSV Studies
      - number: 26
        description: Completed RSV Studies
capabilities:
  - title: Wholly owned clinical research sites
    icon_image: /img/capabilities/sites-icon.svg
    list_item:
      - title: All research staff at our sites are empolyees of Velocity
      - title: >-
          Ability to focus hiring of experienced researchers who are dedicated
          to excellent patient care
      - title: Allow all employees to receive same training and certifications
  - title: >-
      Single point of oversight and contact for key study activities across all
      Velocity sites
    icon_image: /img/capabilities/singlepoint-icon.svg
    list_item:
      - title: Centralized nationwide feasability
      - title: Centralized patient recruitment oversight
      - title: Centralized billing and payment
  - title: Expedited Study Start-up
    icon_image: /img/capabilities/expedited-icon.svg
    list_item:
      - title: Single budget and contract for all Velocity sites in your study
      - title: 48 hour turnaround on contract/budget responses
      - title: Common Central IRB
  - title: Research capable facilities customized for regulatory requirements
    icon_image: /img/capabilities/research-icon.svg
    list_item:
      - title: >-
          Monitored drug storage rooms for all temperature storage needs with
          locked, limited access
      - title: >-
          CLIA waived labs with refrigerated centrifuges and incubators and
          back-up power supplies
      - title: Active IBC registrations
      - title: Some sites with overnight capabilities for pharmacokinetic trials
  - title: High level of consistency across sites for operations and data quality
    icon_image: /img/capabilities/consistency-icon.svg
    list_item:
      - title: Uniform Velocity SOPs
      - title: Integrated Medical records and recruitment systems
      - title: >-
          Core team of Site Directors who work closely to ensure local site
          compliance
  - title: Multi-specialty research capabilities
    icon_image: /img/capabilities/multispecialty-icon.svg
    list_item:
      - title: >-
          Velocity sites conduct studies in nearly all major therapeutic areas
          with extensive experience in several key areas
      - title: >-
          Our researchers understand the nuances of different therapeutic
          assessments and how to find patients who meet study criteria
  - title: Accelerated enrolment and data entry
    icon_image: /img/capabilities/data-icon.svg
    list_item:
      - title: >-
          Access to diverse patient populations and centralized recruitment
          support results in high volume, rapid enrollment
      - title: 48 hour data entry goals
      - title: Data query resolution within 48 hours of query generation
list_section:      
_assets:
  - /img/capabilities/national-cancer-institute-1c8sj2IO2I4-unsplash.jpg
  - /img/capabilities/christina-wocintechchat-com-z5SOVx-y3F4-unsplash.jpg
---

{% include hero.html %}

<section class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="subtitle editable">
          Capabilities
        </h3>
        <div class="editable">
          <h2>Lorem ipsum dolor sit amet.</h2>
          <p>Achieving timely study start-up and patient recruitment and retaining patients to obtain all study data remain key challenges for Sponsors and CROs. Velocity Clinical Research provides a consistent, scalable approach to tackling these challenges. By offering access to our wholly-owned research sites and providing central support and contacts for many operational activities, we make your job easier.</p>
          <p>We are committed to rapid responsiveness from initial feasibility and contracting to patient enrollment and study close-out. Our uniform cross-site processes are designed to deliver patients and data as quickly as possible without sacrificing exemplary data quality and patient care.</p>
          <p>Velocity sites prioritize positive patient experiences and outcomes and we work hard to deliver outstanding patient care. Engaging patients and creating an environment of comfort, communication and medical care enhances our ability to retain patients and to elicit referrals for future studies.</p>
          <p>Our company can help you achieve your patient enrollment goals with the assurances of high quality data and an experienced team.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mosaic-images-stack right-to-left">
          <div class="image-wrapper rounded">
            <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[0] }})" data-cms-editor-link="cloudcannon:#_assets[0]" data-cms-editor-link-style="modal"></div>
          </div>
          <div class="image-wrapper rounded">
            <div class="bg-image aspect-5x4" style="background-image: url({{ page._assets[1] }})" data-cms-editor-link="cloudcannon:#_assets[1]" data-cms-editor-link-style="modal"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% for stat_section in page.statistic_section %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="mb-5">{{ stat_section.title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for stat in stat_section.statistic %}
        <div class="col-lg-3 mb-5">
          <div class="text-center">
            <p class="h2 font-weight-bold">{{ stat.number }}</p>
            <p>{{ stat.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
<section id="capabilities" class="bg-light position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center editable">
          Velocity Capabilities
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include components/capabilities-carousel.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots3.png" class="dots bottom-left overlap-bottom" alt="Dot image" />
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="text-secondary editable">
            Proven Experience in Multiple Therapeutic Areas
          </h2>
          <div class="editable">
            <p>Velocity research sites and physician investigators have successfully completed studies in most major therapeutic areas. Our investigators’ expertise covers a wide range of subspecialties and understands local differences in patient populations. Broad categories of therapeutic area expertise are shown below with additional information on areas where we have extensive experience. The Velocity team is eager to provide more detail on our experience for your specific study.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2 class="font-weight-bold">Our Therapeutic Areas</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3">
          {% for specialty in site.specialties %}
            <a href="{{ specialty.url }}" class="card bg-image aspect-auto text-white mb-4" style="background-image: url({{ specialty.tile_bg_image}})">
              <div class="card-body p-4">
                <h6 class="text-white font-weight-bolder mb-0 mt-5 mb-2">{{ specialty.title }}</h6>
                <p class="text-white d-flex align-items-center">Learn more <i class="ri-arrow-right-s-line"></i></p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <div class="text-center editable">
          <p><img class="img-fluid my-5" alt="Dots image" src="/img/capabilities/dots.png" /></p>
          <ul class="column-list column-3">
            <li>Allergy /Immunology<br />Cardiology<br />Infectious Disease<br />Medical Devices</li>
         
            <li>Men&rsquo;s Health<br />Nephrology<br />Psychiatry<br />Pain</li>
            <li>Rheumatology / Musculoskeletal<br />Sleep Medicine<br />Urology<br />Women&rsquo;s Health</li>
       
       
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% include cta-place-a-study.html %}