---
layout: default
title: Careers
meta:
hero:
  - image: /uploads/istock-118054927722.jpg
    title:
    subtitle:
    color_overlay: false
statistic_section:
  - title: Velocity At A Glance
    statistic:
      - number: 16
        description: >-
          Wholly owned, institutions, dedicated to research,  located across 11
          States
      - number: 250
        description: Years of Collective Clinical Research Experience
      - number: 5000
        description: Trials Completed
      - number: 40
        description: Physician Investigators
capabilities:
  - title: Wholly owned clinical research sites
    icon_image: /img/capabilities/sites-icon.svg
    list_item:
      - title: All research staff at our sites are employees of Velocity
      - title: >-
          Ability to focus hiring of experienced researchers who are dedicated
          to excellent patient care
      - title: Allow all employees to receive same training and certifications
  - title: Fully Integrated Model
    icon_image: /img/capabilities/singlepoint-icon.svg
    list_item:
      - title: All sites operate under a single management structure
      - title: >-
          Single point of contact for Operations, Business, and  Patient
          Recruitment
      - title: One finance structure for all invoicing and payment activities
      - title: Single CTMS system across all sites
  - title: High level of consistency across sites for operations and data quality
    icon_image: /img/capabilities/consistency-icon.svg
    list_item:
      - title: A uniform set of SOPs within a consistent QMS across all sites.
      - title: Integrated Medical records and recruitment systems
      - title: >-
          Core team of Site Directors who work closely to ensure local site
          compliance
  - title: Expedited Study Start-up
    icon_image: /img/capabilities/expedited-icon.svg
    list_item:
      - title: Single budget and contract for all Velocity sites in your study
      - title: 48 hour turnaround on contract/budget responses
      - title: All sites utilize Central IRB
  - title: Research capable facilities customized for regulatory requirements
    icon_image: /img/capabilities/research-icon.svg
    list_item:
      - title: >-
          Monitored drug storage rooms for all temperature storage needs with
          locked, limited access
      - title: >-
          CLIA waived labs with refrigerated centrifuges and incubators and
          back-up power supplies
      - title: Active IBC registrations
      - title: Some sites with overnight capabilities for pharmacokinetic trials
  - title: Multi-specialty research capabilities
    icon_image: /img/capabilities/multispecialty-icon.svg
    list_item:
      - title: Model scales patient recruitment and delivers large patient numbers.
      - title: >-
          Velocity sites conduct studies in nearly all major therapeutic areas
          with extensive experience in several key areas
      - title: >-
          Our researchers understand the nuances of different therapeutic
          assessments and how to find patients who meet study criteria
  - title: Accelerated enrollment and data entry
    icon_image: /img/capabilities/data-icon.svg
    list_item:
      - title: >-
          Access to diverse patient populations and centralized recruitment
          support results in high volume, rapid enrollment
      - title: 48 hour data entry goals
      - title: Data query resolution within 48 hours of query generation
list_section:
  - title:
    list_item:
      - title: Allergy /Immunology
      - title: Cardiology
      - title: Dermatology
      - title: Endocrinology / Metabolism
      - title: Gastroenterology
      - title: Infectious Disease
      - title: Medical Devices
      - title: Men’s Health
      - title: Nephrology
      - title: Neurology
      - title: Psychiatry
      - title: Pain
      - title: Respiratory
      - title: Rheumatology / Musculoskeletal
      - title: Sleep Medicine
      - title: Urology
      - title: Vaccine
      - title: Women’s Health
_assets:
  - image: /uploads/workshopmedia-vcr-20200817-0409-final2x.jpg
  - image: /uploads/workshopmedia-vcr-20200817-0530-final2x.jpg
---
{% include cta-bar.html %}
{% include hero.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="subtitle editable animate fade-up">
          Capabilities
        </h3>
        <div class="editable animate fade-up">
          <h2>Ensuring Enrollment Goals with an Integrated Approach</h2>
          <p>Achieving timely study start-up, patient recruitment, and retaining patients to obtain all study data remain key challenges for Sponsors and CROs. Velocity Clinical Research provides a consistent, scalable approach to tackling these challenges. By offering access to our wholly owned research sites and providing central support and contacts for many operational activities, we make your job easier.</p>
          <p>We are committed to rapid responsiveness from initial feasibility and contracting to patient enrollment and study close-out. Our uniform cross-site processes are designed to deliver patients and data as quickly as possible without sacrificing exemplary data quality and patient care.</p>
          <p>Velocity sites prioritize positive patient experiences and outcomes and we work hard to deliver outstanding patient care. Engaging patients and creating an environment of comfort, communication and medical care enhances our ability to retain patients and to elicit referrals for future studies.</p>
          <p>Our company can help you achieve your patient enrollment goals with the assurances of high quality data and an experienced team.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mosaic-images-stack right-to-left">
          <div class="image-wrapper">
            <div class="bg-image aspect-5x4 rounded rellax fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[0].image }}" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal" data-rellax-speed="0.5"></div>
          </div>
          <div class="image-wrapper rounded">
            <div class="bg-image aspect-5x4 rounded rellax fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[1].image }}" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal" data-rellax-speed="-0.5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="capabilities" class="bg-light position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center editable animate fade-up">
          Velocity Capabilities
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="animate blur">
          {% include components/capabilities-carousel.html %}
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots3.png" class="dots bottom-left overlap-bottom" alt="Dot image" />
</section>
{% for stat_section in page.statistic_section %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="mb-5 animate fade-up">{{ stat_section.title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for stat in stat_section.statistic %}
        <div class="col-6 col-lg-3 mb-5 animate fade-up">
          <div class="text-center">
            <p class="h2 font-weight-bold"><span class="stat-number animate fade-up" id="counter-{{ forloop.index }}" data-count="{{stat.number}}">{{stat.number}}</span></p>
            <p>{{ stat.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
<section class="pb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="text-secondary editable animate fade-up">
            Proven Experience in Multiple Therapeutic Areas
          </h2>
          <div class="editable animate fade-up">
            <p>Velocity research sites and physician investigators have successfully completed studies in most major therapeutic areas. Our investigators&rsquo; expertise covers a wide range of subspecialties and understands local differences in patient populations. Broad categories of therapeutic area expertise are shown below with additional information on areas where we have extensive experience. The Velocity team is eager to provide more detail on our experience for your specific study.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="text-center editable">
          <h2 class="font-weight-bold animate fade-up">Our Therapeutic Areas</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <p><img class="img-fluid my-5" alt="Dots image" src="/img/capabilities/dots.png" /></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-3">
          {% for specialty in site.specialties %}
            <a href="{{ specialty.url }}" class="card bg-image aspect-auto text-white mb-4 animate fade-up" style="background-image: url({{ specialty.tile_bg_image}})">
              <div class="card-body p-4">
                <h5 class="text-white font-weight-bolder mb-0 mt-5 mb-2">{{ specialty.title }}</h5>
                <p class="text-white d-flex align-items-center">Learn more <i class="ri-arrow-right-s-line"></i></p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% for list_section in page.list_section %}
<section class="bg-light">
  <div class="container">
    
    {% if page.list_section.title %}
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h3 class="animate fade-up">{{ list_section.title }}</h3>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          {% assign num_columns = list_section.list_item | size | divided_by: 4  %}
          <ul class="column-list column-{{ num_columns }} animate fade-up">
            {% for list_item in list_section.list_item %}
              <li>{{ list_item.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% include cta-place-a-study.html %}
