---
layout: default
title: Home
therapeutic_experience:
  - Allergy and immunology
  - Alzheimer's
  - Biologic therapies
  - Cardiovascular
  - Dermatology
  - Endocrinology / Metabolism
  - Gerontology
  - Infectious disease
  - Musculoskeletal disorders
  - Neurology
  - Neurodegenerative disorders
  - Pain management
  - Parkinson's
  - Psychiatry
  - Respiratory
  - Rheumatology
  - Sleep disorders
  - Vaccine
---

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 order-lg-2">
        <div class="overflow-hidden">
          <div class="bg-image aspect-4x3" style="background-image: url(/assets/img/Velocity-US.jpg)"></div>
        </div>
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="content editable p-lg-5">
          <h2>Who We Are</h2>
          <p>Velocity Clinical Research is 100% committed to the successful delivery of clinical studies&mdash;helping our clients maintain the highest standards of care while bringing new medications directly to the patients who need them, as quickly and efficiently as possible. Our sites have over 20 years of experience and more than 1700 completed studies in a wide range of therapeutic areas.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="overflow-hidden">
          <div class="bg-image aspect-4x3" style="background-image: url(/assets/img/Velocity-crowd.jpg)"></div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content editable p-lg-5">
          <h3>Support for Sponsors</h3>
          <p>All site staff, including Medical Directors, are employees of Velocity Clinical Research. We simplify sponsor engagement by providing a central contact for feasibility, contracting, patient recruitment, study management, billing, and payment, whether a sponsor uses one of our sites or all of them.</p>
          <p>We are committed to rapid responsiveness from contracting to close-out. Our processes are designed to deliver patients and data as quickly as possible without sacrificing exemplary data quality or patient care.</p>
          <p>We work hard to deliver outstanding patient care. It is crucial for our patients and their families and contributes to the well-being of the communities we serve.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 order-lg-2">
        <div class="overflow-hidden">
          <div class="bg-image aspect-4x3" style="background-image: url(/assets/img/Velocity-people-grid.jpg)"></div>
        </div>
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="content editable p-lg-5">
          <h3>Committed to Patients</h3>
          <p>We hire staff who are dedicated to providing excellent patient care. The best clinical researcher is not effective if they do not put patient needs and concerns first.</p>
          <p>We prioritize positive patient outcomes. Making patients feel comfortable and well-cared for is a predictor of a well-executed study with high quality data. The highest compliment a patient can pay us is to enroll in another study or refer their friends and relatives. That is our goal.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team">
  <div class="container">
    {% for object in site.data.team-order %}
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3 class="text-center {% unless forloop.first %}mt-5{% endunless %}">Velocity Clinical Research {{ object.name }}</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for item in object.team %}
        {% assign member = site.team | where: "slug", item | first %}
        <div class="col-md-6 col-lg-3">
          <div class="content">
            <a href="{{ member.url }}">
              {% if member.image %}
                <div class="bg-image aspect-1x1 rounded-circle" style="background-image: url({{ member.image }})"></div>
              {% endif %}
              <p class="mt-3 text-center text-dark mb-0">{% if member.name %}{{ member.name }}{% else %}{{ member.title }}{% endif %}</p>
              {% if object.name contains 'Executive' %}
                {% if member.role %}
                  <p class="mb-0 text-center text-dark"><small>{{ member.role }}</small></p>
                {% endif %}
              {% else %}
                {% if member.company %}
                  <p class="mb-0 text-center text-dark"><small>{{ member.company }}</small></p>
                {% endif %}
              {% endif %}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-auto">
        <div class="content">
          <h3 class="text-center">Therapeutic Experience</h3>
          <ul class="column-list">
            {% for object in page.therapeutic_experience %}
              <li>{{ object }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row icons-row justify-content-center">
      <div class="col-auto">
        <img src="/assets/img/icon1.svg" class="img-fluid" alt="Icon" />
      </div>
      <div class="col-auto">
        <img src="/assets/img/icon2.svg" class="img-fluid" alt="Icon" />
      </div>
      <div class="col-auto">
        <img src="/assets/img/icon3.svg" class="img-fluid" alt="Icon" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <div class="content text-center editable">
          <p class="mt-3">If you would like to speak with a member of our team regarding our capabilities and experience, or about placing a study with our sites, <a href="mailto:info@velocityclinical.com">email us</a> or call 919.937.2458</p>
          <p class="mt-3">.</p>
        </div>
      </div>
    </div>
  </div>
</section>