---
layout: default
title: Home
hero:
  title_html: >-
    <h1><strong>Trusted</strong> research, <strong>Valued</strong> patients,
    <strong>Streamlined</strong> approach</h1>
  logo_image: /img/Velocity-Clinical-Research-CLR.png
  image: /img/home/header.jpg
_assets:
  - /img/home/xavier-mouton-photographie-ry_sD0P1ZL0-unsplash.jpg
  - /img/home/Mask-Group-68.jpg
  - /img/home/Mask-Group-65.jpg
  - /img/home/Mask-Group-66.jpg
  - /img/home/Mask-Group-67.jpg
  - /img/home/Mask-Group-12.jpg
  - /img/home/humberto-chavez-FVh_yqLR9eA-unsplash.jpg
  - /img/home/WorkshopMedia_VCRoffice_0111-Edit_FINAL.jpg
  - /img/home/Mask-Group-11.jpg
  - /img/home/Mask-Group-13.jpg

text_slide:
  - title: Now recruiting for COVID-19 Vaccine Trials
    subtitle: Trials
    link: /locations/
    link_label: Learn More
  - title: 'Lorem, ipsum dolor sit amet consectetur'
    subtitle: Subtitle
    link: /about/
    link_label: Link to a page
  - title: 'Lorem, ipsum dolor sit amet consectetur'
    subtitle: Subtitle
    link: /contact/
    link_label: Contact
therapeutic_experience:
  - Allergy and immunology
  - Alzheimer's
  - Biologic therapies
  - Cardiovascular
  - Dermatology
  - Endocrinology / Metabolism
  - Gerontology
  - Infectious disease
  - Musculoskeletal disorders
  - Neurology
  - Neurodegenerative disorders
  - Pain management
  - Parkinson's
  - Psychiatry
  - Respiratory
  - Rheumatology
  - Sleep disorders
  - Vaccine
---

{% include home/hero-home.html %}
<section>
  <div class="container position-relative">
    <img src="/img/dots1.png" class="dots top-left" alt="Dots image" />
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        {% include home/mosaic-image-home-1.html %}
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="editable p-lg-5">
          <h3 class="subtitle">About Us</h3>
          <h2 class="editable">Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum amet dolores autem a est aliquid sapiente? Accusamus, rem? Perferendis suscipit dolor in eveniet harum assumenda ab odio iure atque accusamus.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum amet dolores autem a est aliquid sapiente? Accusamus, rem? Perferendis suscipit dolor in eveniet harum assumenda ab odio iure atque accusamus.</p>
        </div>
      </div>
    </div>
    <img src="/img/dots2.png" class="dots bottom-right" alt="Dots image">
  </div>
</section>
<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include carousel-text.html %}
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <img src="/img/home/map.png" class="img-fluid" alt="Map image">
      </div>
      <div class="col-lg-5">
        <div class="text-center editable p-lg-5">
          <h3>Strategically located research sites for patient access and diversity</h3>
          <p>Learn more about our Velocity Clinical Research locations</p>
          <a href="#" class="btn btn-secondary">Explore our Sites</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h3 class="subtitle">Trusted Clinical Experience</h3>
          <h2>Extensive Clinical Trial Experience and Operational Excellence</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="responsive-card-deck cards-lg-4 mt-4">
          <div class="card card-white mb-4">
            <div class="card-body text-center">
              <h3 class="my-4 text-secondary font-weight-bolder editable">Title</h3>
              <div class="editable mb-5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, totam.</p>
              </div>
            </div>
          </div>
          <div class="card card-white mb-4">
            <div class="card-body text-center">
              <h3 class="my-4 text-secondary font-weight-bolder editable">Title</h3>
              <div class="editable mb-5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, totam.</p>
              </div>
            </div>
          </div>
          <div class="card card-white mb-4">
            <div class="card-body text-center">
              <h3 class="my-4 text-secondary font-weight-bolder editable">Title</h3>
              <div class="editable mb-5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, totam.</p>
              </div>
            </div>
          </div>
          <div class="card card-white mb-4">
            <div class="card-body text-center">
              <h3 class="my-4 text-secondary font-weight-bolder editable">Title</h3>
              <div class="editable mb-5">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, totam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="/img/dots3.png" class="dots bottom-right overlap-bottom" alt="Dots image">
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="subtitle editable">Our Team</h3>
        <div class="editable">
          <h3>Accomplished Physician Investigators and Research Staff</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, necessitatibus.</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, necessitatibus.</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, necessitatibus.</p>
        </div>
        <a href="/about" class="btn btn-secondary editable">Learn More About Us</a>
      </div>
      <div class="col-lg-8">
        {% include home/mosaic-image-home-2.html %}
      </div>
    </div>
  </div>
</section>


