---
layout: homepage
title: Home
---


<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <div class="content">
          <h2>Who We Are</h2>
          <p>At Velocity Clinical Research, we have one goal; to deliver high-quality clinical trial data from as many patients as possible, as quickly as possible&mdash;providing exemplary patient care at every step.</p>
          <p>We're a single organization with multiple locations, not driven by a larger corporation, alliance, or network. We control our own patient care, data, and outcomes. Our work and results are our own.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mobile-content-image-overlay">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="overflow-hidden">
          <div class="bg-image zoom aspect-4x3" style="background-image: url(https://picsum.photos/768/500)"></div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content overlay-mobile p-lg-5">
          <h3>Support for Sponsors</h3>
          <p>All site staff, including PIs, are employees of Velocity Clinical Research. We simplify sponsor
            engagement by providing a central contact for feasibility, contracting, patient recruitment, study management,
            billing,
            and payment, whether a sponsor uses one of our sites or all of them.</p>
          <p>We are committed to rapid responsiveness both pre- and post-award. Our processes are designed to deliver
            patients and data as quickly as possible without sacrificing
            exemplary data quality or patient care.</p>
          <p>We work hard to deliver outstanding patient care. It is good for our patients
            and their families and contributes to the well-being of the communities we serve.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mobile-content-image-overlay">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 order-lg-2">
        <div class="overflow-hidden">
          <div class="bg-image zoom aspect-4x3" style="background-image: url(https://picsum.photos/768/500)"></div>
        </div>
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="content overlay-mobile p-lg-5">
          <h3>Committed to Patients</h3>
          <p>We hire for patient care. The best clinical researcher is not effective if they do not put their patients’
            needs and concerns first.</p>
          <p>We prioritize positive patient outcomes. Making patients feel comfortable and well-cared for is a predictor of
            a well-executed study with high quality data. The highest compliment a patient can pay us is to enroll in
            another study or refer their friends and relatives. That is our goal.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team">
  <div class="container">
    {% for object in site.data.team-order %}
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h3 class="text-center {% unless forloop.first %}mt-5{% endunless %}">Velocity Clinical Research {{ object.name }}</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for item in object.team %}
        {% assign member = site.team | where: "slug", item | first %}
        <div class="col-md-6 col-lg-3">
          <div class="content">
            <a href="{{ member.url }}">
              <div class="bg-image aspect-1x1 rounded-circle" style="background-image: url({{ member.image | default: 'https://via.placeholder.com/500x500'}})"></div>
              <p class="mt-3 text-center text-dark">{% if member.name %}{{ member.name }}{% else %}{{ member.title }}{% endif %}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-auto">
        <div class="content">
          <h3 class="text-center">Therapeutic Experience</h3>
          <ul class="column-list">
            {% for i in (1..20) %}
              <li>Experience Name</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row icons-row justify-content-center">
      <div class="col-auto">
        <img src="/assets/img/icon1.svg" class="img-fluid" alt="Icon">
      </div>
      <div class="col-auto">
        <img src="/assets/img/icon2.svg" class="img-fluid" alt="Icon">
      </div>
      <div class="col-auto">
        <img src="/assets/img/icon3.svg" class="img-fluid" alt="Icon">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <div class="content text-center">
          <p class="mt-3">If you would like to speak with a member of our team regarding our capabilities and experience, or about placing a
          study with our sites, <a href="mailto:">email us</a>  or call <a href="tel:414-123-4567">414.123.4567</a> .</p>
        </div>
      </div>
    </div>
  </div>
</section>