---
layout: default
title: Locations
hero:
  - image: /img/locations/Locations-Header.jpg
    title: Strategically located research sites ensure geographical distribution
    subtitle: Multi-specialty Research Institutions
    color_overlay: false
---

{% include hero.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fugit repudiandae porro voluptate architecto explicabo dolorum atque consectetur provident minima tempora natus possimus distinctio repellat vel ex quod, ratione quas.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repellat debitis vitae obcaecati accusantium, ab facilis iure nihil quod nam perspiciatis enim aliquid et rem id. Officia nam ipsam adipisci.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include components/map.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="subtitle">Our Locations</h3>
        <h2>Find a Facility Near You</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/locations-grid.html %}
      </div>
    </div>
  </div>
</section>
