---
layout: default
title: Locations
meta:
hero:
  - image: /img/locations/LocationsBanner@2x.jpg
    title: Strategically located research sites ensure geographical distribution
    subtitle: Multi-specialty Research Institutions
    color_overlay: false
  - image:
    title: neato
    subtitle: cool
    color_overlay: false
---

{% include locations/hero-corporate-locations.html %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include components/map.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-lg-auto">
        <div class="text-center editable animate fade-up">
          <p>Velocity&rsquo;s commitment to provide enhanced efficiencies, scalability and productivity while ensuring quality data begins with our carefully vetted research sites. We continually seek dedicated research clinics with highly experienced physician investigators supported by well-trained research staff. Geographical dispersion across the United States ensures patient diversity and access to critical subpopulations.</p>
          <p>Our sites have been successfully conducting clinical trials for over 35 years with over 250 years of collective clinical research site operations. All Investigators and site personnel are fully trained and certified in GCP, HIPAA, uniform SOPs and other relevant topics.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="subtitle animate fade-up">Our Locations</h3>
        <h2 class="animate fade-up editable">
          Research Sites Spanning from Coast to Coast
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/locations-grid.html %}
      </div>
    </div>
  </div>
</section>
