---
layout: default
title: Privacy Policy
meta:
hero:
  - image: /uploads/capabilities-header2x.jpg
    title:
    subtitle:
    color_overlay: false
  - image:
    title:
    subtitle:
    color_overlay: false
values:
  - title: Trust
    image: /img/about/value-trust.jpg
    description: Our reliance on each other is driven by our deep confidence in each other.
team:
_assets:
  - image: /img/about/Mask-Group-4.jpg
  - image: /uploads/workshopmedia-vcr-20200817-0431-final2x.png
---

{% include hero.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <h1 class="text-center animate fade-up editable">
          Website Privacy Policy
        </h1>
        <div class="editable text-center animate fade-up">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="values" class="bg-light">
  <div class="container">
    <div class="row mb-5 position-relative">
      <div class="col-12">
        <div class="text-center editable animate fade-up">
          <h2>Our Values</h2>
        </div>
      </div>
      <img src="/img/dots2.png" class="dots bottom-right rellax" alt="Dots image" />
    </div>
    <div class="flip-card-grid position-relative">
      {% assign counter = 0 %}
      {% assign expandable_counter = 0 %}
      {% for value in page.values %}
        {% assign counter = counter | plus:1 %}
        {% assign mod3 = counter | modulo: 3 %}
        {% if mod3 == 0 %}
          <div class="flip-card animate fade-up">
            <div class="flip-card-inner">
              <div class="flip-card-front rounded">
                <div class="bg-image aspect-1x1" style="background-image: url({{ value.image | default: site.placeholder_image }})">
                  <div class="text-overlay">
                    <div class="overlay-content">
                      <h3 class="mb-0 font-weight-bold text-white">{{ value.title }}</h3>
                    </div>
                  </div>
                </div>
                <img src="{{ value.image | default: site.placeholder_image }}" class="img-fluid" alt="{{ value.title }} image" />
              </div>
              <div class="flip-card-back rounded">
                <div class="flip-card-back-content">
                  <h3 class="font-weight-bold">{{ value.title }}</h3>
                  <p>{{ value.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100 d-none d-lg-block"></div>
          {% assign expandable_counter = expandable_counter | plus:1 %}
        {% else %}
          <div class="flip-card animate fade-up">
            <div class="flip-card-inner">
              <div class="flip-card-front rounded">
                <div class="bg-image aspect-1x1" style="background-image: url({{ value.image | default: site.placeholder_image }})">
                  <div class="text-overlay">
                    <div class="overlay-content">
                      <h3 class="text-white font-weight-bold mb-0">{{ value.title }}</h3>
                    </div>
                  </div>
                </div>
                <img src="{{ value.image | default: site.placeholder_image }}" class="img-fluid" alt="{{ value.title }} image" />
              </div>
              <div class="flip-card-back rounded">
                <div class="flip-card-back-content">
                  <h3 class="font-weight-bold mb-2 mb-lg-4">{{ value.title }}</h3>
                  <p class="text-center">{{ value.description }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
</section>
<section id="history">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[0].image }}" data-cms-editor-link="cloudcannon:#_assets[0].image" data-cms-editor-link-style="modal"></div>
        <div class="bg-image aspect-4x3 mb-3 fade-in" data-lazy-type="bg-image" data-lazy-src="{{ page._assets[1].image }}" data-cms-editor-link="cloudcannon:#_assets[1].image" data-cms-editor-link-style="modal"></div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h2 class="animate fade-up editable">
          Privacy Policy
        </h2>
        <div class="editable animate fade-up">
          <p>December 01, 2020</p>
          <p><strong>Introduction</strong></p>
          <p>Velocity Clinical Research Inc. (<strong>"Velocity"</strong> or <strong>"We"</strong> ) respects your privacy and is committed to protecting it through our compliance with this policy.</p>
          <p>This policy describes the types of information we may collect from you or that you may provide when you visit this website (our "<strong>Website</strong>") and our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>
          <p>This policy applies to information we collect:</p>
          <ul>
            <li>On this Website.</li>
          </ul>
          <ul>
            <li>In email, text, and other electronic messages between you and this Website. It does not apply to information collected by:</li>
          </ul>
          <ul>
            <li>Us offline or through any other means, including on any other website operated by Velocity or any third party (including our affiliates and subsidiaries); or</li>
          </ul>
          <ul>
            <li>Any third party (including our affiliates and subsidiaries), including through any application or content (including advertising) that may link to or be accessible from or on the Website</li>
          </ul>
          <p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time (see <a href="#page6">Changes to Our Privacy Policy)</a>. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>
          <p><strong>Children Under the Age of 16</strong></p>
          <p>Our Website is not intended for children under 16 years of age. No one under age 16 may provide any information to or on the Website. We do not knowingly collect personal information from children under 16. If you are under 16, do not use or provide any information on this Website or provide any information about yourself to us, including your name, address, telephone number, email address, or any screen name or user name you may use. If we learn we have collected or received personal information from a child under 16 without verification of parental consent, we will delete that information. If you believe we might have any information from or about a child under 16, please contact us at info@velocityclinical.com.</p>
          <p>California residents under 16 years of age may have additional rights regarding the collection and sale of their personal information. Please see <a href="#page5">Your California Privacy Rights </a>for more information.</p>
          <p><strong>Information We Collect About You and How We Collect It</strong></p>
          <p>We collect several types of information from and about users of our Website, including information:</p>
          <ul>
            <li>By which you may be personally identified, such as name, postal address, e-mail address, and telephone number ("<strong>personal information</strong>");</li>
          </ul>
          <ul>
            <li>That is about you but individually does not identify you, and/or</li>
          </ul>
          <ul>
            <li>About your internet connection, the equipment you use to access our Website, and usage details.</li>
          </ul>
          <p>We collect this information:</p>
          <ul>
            <li>Directly from you when you provide it to us, such as by submitting an online form or sending us email.</li>
          </ul>
          <ul>
            <li>Automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies.</li>
          </ul>
          <p><em>Information You Provide to Us</em></p>
          <p>The information we collect on or through our Website may include:</p>
          <ul>
            <li>Information that you provide by filling in forms on our Website. This includes information provided at the time you submit a contact us or please provide more information form. We may also ask you for information when you report a problem with our Website.</li>
          </ul>
          <ul>
            <li>Records and copies of your correspondence (including email addresses), if you contact us.</li>
          </ul>
          <p><em>Information We May Collect Through Automatic Data Collection Technologies</em></p>
          <p>As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:</p>
          <ul>
            <li>Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.</li>
          </ul>
          <ul>
            <li>Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
          </ul>
          <p>We also may use these technologies to collect information about your online activities over time and across third-party websites or other online services (behavioral tracking). Click <a href="https://allaboutdnt.com/">here. </a>for information on how you can opt out of behavioral tracking on this website and how we respond to web browser signals and other mechanisms that enable consumers to exercise choice about behavioral tracking.</p>
          <p>The information we collect automatically may be only statistical data and not include personal information, or we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:</p>
          <ul>
            <li>Estimate our audience size and usage patterns.</li>
          </ul>
          <ul>
            <li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
          </ul>
          <ul>
            <li>Speed up your searches.</li>
          </ul>
          <ul>
            <li>Recognize you when you return to our Website.</li>
          </ul>
          <p>The technologies we use for this automatic data collection may include:</p>
          <ul>
            <li><strong>Cookies (or browser cookies). </strong>A cookie is a small file placed on the hard drive of your<strong> </strong>computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.</li>
          </ul>
          <ul>
            <li><strong>Flash Cookies. </strong>Certain features of our Website may use local stored objects (or Flash<strong> </strong>cookies) to collect and store information about your preferences and navigation to, from, and on our Website. Flash cookies are not managed by the same browser settings as are used for browser cookies. For information about managing your privacy and security settings for Flash cookies, see <a href="#page5">Choices About How We Use and Disclose Your</a> <a href="#page5">Information.</a></li>
          </ul>
          <ul>
            <li><strong>Web Beacons. </strong>Pages of our the Website [and our e-mails] may contain small electronic<strong> </strong>files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Velocity, for example, to count users who have visited those pages or [opened an email] and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity).</li>
          </ul>
          <p>We do not collect personal information automatically, but we may tie this information to personal information about you that we collect from other sources or you provide to us.</p>
          <p><strong>Third-Party Use of Cookies and Other Tracking Technologies</strong></p>
          <p>Some content or applications on the Website are served by third-parties, including possibly advertisers, ad networks and servers, content providers, and application providers. These third parties may use cookies alone or in conjunction with web beacons or other tracking technologies to collect information about you when you use our website. The information they collect may be associated with your personal information or they may collect information, including personal information, about your online activities over time and across different websites and other online services. They may use this information to provide you with interest-based (behavioral) advertising or other targeted content.</p>
          <p>For example, we may use third-party analytics companies, such as Google Analytics, to evaluate use of our Website. We or our service providers use these tools to help us understand use of, and to improve, our Website, performance, and user experiences. These entities may use cookies and</p>
          <p>other tracking technologies, such as web beacons or local storage objects (LSOs), to perform their services.</p>
          <p>We do not control these third parties' tracking technologies or how they may be used. If you have any questions about an advertisement or other targeted content, you should contact the responsible provider directly. For information about how you can opt out of receiving targeted advertising from many providers, see <a href="#page5">Choices About How We Use and Disclose Your</a> <a href="#page5">Information. </a>By clicking here, you can learn more about <a href="https://www.google.com/intl/en/policies/privacy/">Google Analytics.</a></p>
          <p><strong>How We Use Your Information</strong></p>
          <p>We use information that we collect about you or that you provide to us, including any personal information:</p>
          <ul>
            <li>To present our Website and its contents to you.</li>
          </ul>
          <ul>
            <li>To provide you with information or services that you request from us.</li>
          </ul>
          <ul>
            <li>To fulfill any other purpose for which you provide it.</li>
          </ul>
          <ul>
            <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
          </ul>
          <ul>
            <li>To notify you about changes to our Website or any services we offer or provide though it.</li>
          </ul>
          <ul>
            <li>In any other way we may describe when you provide the information.</li>
          </ul>
          <ul>
            <li>For any other purpose with your consent.</li>
          </ul>
          <p>We may also use your information to contact you about services that may be of interest to you. If you do not want us to use your information in this way, please check the relevant box located on the form on which we collect your data. For more information, see <a href="#page5">Choices About How We Use</a> <a href="#page5">and Disclose Your Information.</a></p>
          <p>We may use the information we have collected from you to enable us to display advertisements to our advertisers' target audiences. Even though we do not disclose your personal information for these purposes without your consent, if you click on or otherwise interact with an advertisement, the advertiser may assume that you meet its target criteria.</p>
          <p><strong>Disclosure of Your Information</strong></p>
          <p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.</p>
          <p>We may disclose personal information that we collect or you provide as described in this privacy policy:</p>
          <ul>
            <li>To our subsidiaries and affiliates.</li>
          </ul>
          <ul>
            <li>To contractors, service providers, and other third parties we use to support our business.</li>
          </ul>
          <ul>
            <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Velocity&rsquo;s assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Velocity about our Website users is among the assets transferred.</li>
          </ul>
          <ul>
            <li>To fulfill the purpose for which you provide it.</li>
          </ul>
          <ul>
            <li>For any other purpose disclosed by us when you provide the information.</li>
          </ul>
          <ul>
            <li>With your consent.</li>
          </ul>
          <p>We may also disclose your personal information:</p>
          <ul>
            <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
          </ul>
          <ul>
            <li>To enforce or apply our agreements.</li>
          </ul>
          <ul>
            <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Velocity, its subsidiaries or affiliates, any of our customers, or others.</li>
          </ul>
          <p><strong>Choices About How We Use and Disclose Your Information</strong></p>
          <p>We strive to provide you with choices regarding the personal information you provide to us. We have created mechanisms to provide you with the following control over your information:</p>
          <ul>
            <li><strong>Tracking Technologies and Advertising. </strong>You can set your browser to refuse all or<strong> </strong>some browser cookies, or to alert you when cookies are being sent. To learn how you can manage your Flash cookie settings, visit the Flash player settings page on Adobe's website. If you disable or refuse cookies, please note that some parts of this site may then be inaccessible or not function properly.</li>
          </ul>
          <ul>
            <li><strong>Promotional Offers from the Velocity. </strong>If you do not wish to have your contact<strong> </strong>information used by the Velocity to promote our services, you can opt-out by checking the relevant box located on the form on which we collect your data, by sending us an email stating your request to: <a href="mailto:info@velocityclinical.com">info@velocityclinical.com. </a>If we have sent you a promotional email, you may send us a return email asking to be omitted from future email distributions. This opt out does not apply to information provided to Velocity as a result of a purchase, warranty registration, service experience or other transactions.</li>
          </ul>
          <p>We do not control third parties' collection or use of your information to serve interest-based advertising. However, these third parties may provide you with ways to choose not to have your information collected or used in this way. You can opt out of receiving targeted ads from members of the Network Advertising Initiative ("<strong>NAI</strong>") on the NAI's website.</p>
          <p>California residents may have additional personal information rights and choices. Please see <a href="#page5">Your California Privacy Rights </a>for more information.</p>
          <p><strong>Your California Privacy Rights</strong></p>
          <p>If you are a California resident, California law may provide you with additional rights regarding our use of your personal information.</p>
          <p>California's "Shine the Light" law (Civil Code Section &sect; 1798.83) permits users of our Website that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to: <a href="mailto:info@velocityclinical.com">info@velocityclinical.com.</a></p>
          <p><strong>Data Security</strong></p>
          <p>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure.</p>
          <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website.</p>
          <p><strong>Changes to Our Privacy Policy</strong></p>
          <p>It is our policy to post any changes we make to our privacy policy on this page. If we make material changes to how we treat our users' personal information, we will notify you through a notice on the Website home page. The date the privacy policy was last revised is identified at the top of the page. You are responsible for periodically visiting our Website and this privacy policy to check for any changes.</p>
          <p><strong>Contact Information</strong></p>
          <p>To ask questions or comment about this privacy policy and our privacy practices, contact us at:</p>
          <p><a href="mailto:info@velocityclinical.com">info@velocityclinical.com.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team" class="pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center animate fade-up editable">
          Executive Team
        </h2>
        <div class="text-center editable animate fade-up">
          <p>Experienced Leadership Makes a Difference</p>
        </div>  
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include team/team-list.html %}
      </div>
    </div>
  </div>
</section>
