---
layout: location
title: New Location
meta:
location_team:
  - name: 'Barbara Rizzardi, MD'
    role: Lead Principal Investigator
    image:
    bio_html: >-
      <p>Barbara Rizzardi, MD attended University of Nevada School of Medicine and completed a residency and internship in
      internal medicine at LDS Hospital, Salt Lake City, UT.   Dr. Rizzardi has research experience in broad range of
      therapeutic areas including vaccines.  In addition to research, Dr. Rizzardi is an independent practitioner with a
      private clinic.  Dr. Rizzardi also enjoys rafting and kayaking wild rivers of the western U.S.A.</p>
  - name: 'Susan Thompson'
    role: Site Director
    image:
    bio_html: >-
      <p>Susan Thompson, LPN, CCRC was born and raised in New Jersey where she became a Licensed Practical Nurse. Her family
      later transferred to Greenville, South Carolina where she worked as a school nurse. In the early 1990’s she joined a
      Family Practice that participated in clinical research, which is where she first developed her passion for research.
      After working 9 years as a staff nurse and helping in the research side she decided to join a research company called
      Hilltop Clinical Research which later became Radiant Research. Another family transfer brought her to North Carolina,
      where she joined PMG Research. Susan established and grew a new site for the company and was a site manager of the
      Salisbury, NC site where she was responsible for daily site operations and personnel management. In 2014 she was
      transferred to the Winston-Salem, NC location and became a Senior Site Manager. She managed both NC locations until
      December 2014. She then transferred to Utah where she enjoys snow- capped mountains and moose sightings.</p>
      <p>Susan is so proud of our team’s dedication and integrity to bring new medications to the world that could change
      someone’s life for the better. “We care about our sponsors and our patients. We are dedicated to help make health
      changes for as many as we can.”</p>
_assets:
  - image: /uploads/locations/austin/cdc-UC9_itYaafM-unsplash.jpg
  - image: /uploads/locations/austin/Mask-Group-68.jpg
  - image: /uploads/locations/austin/Mask-Group-65.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-66.jpg
  - image: /uploads/locations/austin/Mask-Group-4.jpg
  - image: /uploads/locations/austin/Austin.jpg
---

{% include locations/location-logic.html %}
{% include locations/hero-location.html %}
<section>
  <div class="container">
    <div class="row overlap-top">
      <div class="col-lg-8 mx-lg-auto">
        <div class="shadow p-5 bg-white rounded animate fade-up">
          <div class="row align-items-center">
            <div class="col-6 mx-auto col-lg-4">
              <div class="bg-image aspect-1x1 rounded-circle mb-3 mb-lg-0" style="background-image: url({{ location.featured_image }})"></div>
            </div>
            <div class="col-lg-8">
              <h4 class="font-weight-bold mb-0">{{ location.title }}</h4>
              <h4 class="font-weight-bold">{{ location.label }}</h4>
              <p>{{ location.address }}</p>
              <p class="mb-0"><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
              <p><a href="mailto:{{ location.email }}">{{ location.email }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="make-a-difference" class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="text-center">
          <h2 class="mb-0 editable animate fade-up"><strong>Help Make a Difference</strong></h2>
          <div class="editable animate fade-up">
            <h2>By Participating in Clinical Research</h2>
            <p>People who volunteer to participate in clinical trials are key to the advancement of medical research. Our sites are dedicated to conducting clinical trials with an emphasis on patient care. Our physician investigators and other members of our research teams are extensively trained in different medical subspecialties as well as the complex field of clinical research. We strive to provide our study participants and sponsors a high quality, efficient and care-directed clinical trial experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/dots1.png" class="dots bottom-left overflow-left" alt="Dots image" />
</section>
<section id="member" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% include locations/mosaic-location.html %}
      </div>
      <div class="col-lg-5 ml-lg-auto">
        <h2 class="animate fade-up editable">Velocity Clinical Salt Lake City</h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical Research Salt Lake City, formerly Advanced Clinical Research – Salt Lake City, is part of the Velocity Clinical Research Organization, a wholly owned Site Organization, providing excellence in patient care, high quality data and fully integrated research sites.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary text-white" style="background-image: url(/img/Carousel-Bar.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-lg-auto">
        <h2 class="text-center text-white editable animate fade-up">Our Mission</h2>
        <div class="text-center editable animate fade-up">
          <p>Velocity’s mission is to bring innovative medical treatments to patients. We are committed to making clinical trials succeed by generating high quality data from as many patients as possible, as quickly as possible while providing exemplary patient care at every step.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 animate blur">
        <div
          class="bg-image aspect-4x3 mb-3 fade-in"
          data-lazy-type="bg-image"
          data-lazy-src="{{ page._assets[5].image }}"
          data-cms-editor-link="cloudcannon:#_assets[5].image"
          data-cms-editor-link-style="modal">
        </div>
        <div
          class="bg-image aspect-4x3 mb-3 fade-in"
          data-lazy-type="bg-image"
          data-lazy-src="{{ site.placeholder_image }}"
          data-cms-editor-link="{{ site.placeholder_image }}"
          data-cms-editor-link-style="modal">
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <h5 class="animate fade-up editable mb-0 text-secondary">Our Story</h5>
        <h2 class="animate fade-up editable">Conducting Clinical Trials Since 1984</h2>
        <div class="animate fade-up editable">
          <p>Velocity Clinical, Salt Lake City, was founded in 1984 by Mr. Werner Huck as Advanced Clinical Research, the first
          community based clinical research center in Idaho and Utah. Mr. Huck was an early advocate of community -based
          outpatient studies. An initial model of embedding research staff in local practices evolved to stand alone research
          facilities. Mr. Huck and his research team participated in a large number of antibiotic trials from the 1980s until the
          early 2000s, addressing many unmet needs in infectious disease indications. This experience led to development of
          significant expertise in conduction of vaccine studies which remains a key therapeutic focus.</p>
          
          <p>Over the years, Velocity Salt Lake City has expanded their clinical research expertise into Dermatology,
          Gastroenterology, Cardiology, Women’s Health and a variety of Family Medicine indications. By working collaboratively
          and developing strong relationships with area physicians and patients, this site has a broad network of study
          participants ranging from pediatric to geriatric demographics. In addition, this site also has access to Samoan and
          Latinx populations.</p>
          
          <p>Located just south of Salt Lake City this site serves the greater Jordan Valley area. It is within walking distance from
          Jordan Valley Medical Center and has ample parking for study volunteers. Several hub sites are available as well. This
          main location has capabilities for overnight stays and extended day visits.</p>
          
          <p>The Velocity Salt Lake City team is committed to being a resource for study volunteers, to providing the highest quality
          of patient care with compassion and kindness and to advancing medicine though research. By becoming part of the Velocity
          Clinical Research organization in 2019, they added new efficiencies and integration to their already comprehensive
          approaches to conducting clinical trials.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="location-team" class="bg-light position-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 mx-lg-auto">
        <h2 class="animate fade-up editable text-center">Our Experienced Research Team</h2>
        <div class="text-center animate fade-up editable">
          <p>The Velocity Salt Lake City team of physician investigators and clinical research professionals are
          experienced clinical researchers. All physicians are board certified in their specialty area(s) and all research staff
          is trained in clinical research regulations, including GCP and HIPAA. Training records and certifications are
          maintained. Our clinical team is dedicated to conducting quality research in a professional and caring environment and
          strives on collecting quality data.</p>
          <p>Please meet our Lead Principal Investigator and Site Director.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% include locations/team-list.html %}
      </div>
    </div>
  </div>
  <img src="/img/dots2.png" class="dots bottom-left" alt="Dots image" />
</section>